
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'exercice.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'exercice.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'exercice.content' | translate}}</label>
                        <textarea id="1" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'exercice.content' | translate}}"  [ngModel]="item.content"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'exercice.description' | translate}}</label>
                        <textarea id="2" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'exercice.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'exercice.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'exercice.libelle' | translate}}" autofocus  id="3" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'exercice.numeroOrder' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'exercice.numeroOrder' | translate}}" [ngModel]="item.numeroOrder"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'exercice.contentType' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'exercice.contentType' | translate}}" autofocus  id="5" [ngModel]="item.contentType?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'exercice.section' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'exercice.section' | translate}}" autofocus  id="6" [ngModel]="item.section?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



