<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Quiz')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'quiz.ref' | translate}}</label>
                            <input [(ngModel)]="criteria.refLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2">{{'quiz.lib' | translate}}</label>
                            <input [(ngModel)]="criteria.libLike" class="w-full" id="2" pInputText type="text">
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3-1">{{'quiz.dateDebutMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.dateDebutFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="3-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3-2">{{'quiz.dateDebutMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.dateDebutTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="3-2"></p-calendar>
                        </div>


                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4-1">{{'quiz.dateFinMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.dateFinFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="4-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4-2">{{'quiz.dateFinMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.dateFinTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="4-2"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="7-2">{{'quiz.section' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.section" [filter]="true" [options]="sections" [showClear]="true"
                                        class="p-fluid"
                                        id="7" optionLabel="code"
                                        placeholder="{{'quiz.section' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="8-1">{{'quiz.numeroMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroMin" id="8-1" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="8-2">{{'quiz.numeroMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroMax" id="8-2" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="9-1">{{'quiz.seuilReussiteMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.seuilReussiteMin" id="9-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="9-2">{{'quiz.seuilReussiteMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.seuilReussiteMax" id="9-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['ref', 'lib', 'dateDebut', 'dateFin', 'sectioncode', 'numero', 'seuilReussite']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'quiz.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="ref">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.ref' | translate}}</span>
                                <p-sortIcon field="ref"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.ref"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="lib">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.lib' | translate}}</span>
                                <p-sortIcon field="lib"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.lib"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="dateDebut">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.dateDebut' | translate}}</span>
                                <p-sortIcon field="dateDebut"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="dateFin">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.dateFin' | translate}}</span>
                                <p-sortIcon field="dateFin"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="section">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.section' | translate}}</span>
                                <p-sortIcon field="section"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="numero">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.numero' | translate}}</span>
                                <p-sortIcon field="numero"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="seuilReussite">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'quiz.seuilReussite' | translate}}</span>
                                <p-sortIcon field="seuilReussite"></p-sortIcon>
                            </div>
                        </th>

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.ref}}</td>


                        <td>{{element.lib}}</td>


                        <td>{{element.dateDebut | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.dateFin | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.section?.code}}</td>


                        <td>{{element.numero}}</td>


                        <td>{{element.seuilReussite}}</td>

                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'quiz' : 'quizs' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-quiz-create-admin *ngIf="createDialog  && createActionIsValid"></app-quiz-create-admin>
        <app-quiz-edit-admin *ngIf="editDialog  && editActionIsValid"></app-quiz-edit-admin>
        <app-quiz-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-quiz-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
