<p-dialog [(visible)]="createDialog" [draggable]="false" [maximizable]="true"
          [modal]="true" [resizable]="false" [style]="{width: '70vw'}" header="{{'trancheHoraireProf.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'trancheHoraireProf.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-11 md:col-6">
                        <label for="1">{{'trancheHoraireProf.prof' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.prof" [filter]="true" [options]="profs" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains"
                                    id="1" optionLabel="ref"
                                    placeholder="{{'trancheHoraireProf.prof' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'trancheHoraireProf.startHour' | translate}}</label>
                        <input [(ngModel)]="item.startHour" class="mb-2 mr-2" id="2"
                               pInputText placeholder="{{'trancheHoraireProf.startHour' | translate}}"
                               type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="3">{{'trancheHoraireProf.endHour' | translate}}</label>
                        <input [(ngModel)]="item.endHour" class="mb-2 mr-2" id="3"
                               pInputText placeholder="{{'trancheHoraireProf.endHour' | translate}}"
                               type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="4">{{'trancheHoraireProf.day' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.day" class="mb-2 mr-2" id="4"
                                       placeholder="{{'trancheHoraireProf.day' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'trancheHoraireProf.groupIndex' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.groupIndex" class="mb-2 mr-2"
                                       id="5"
                                       placeholder="{{'trancheHoraireProf.groupIndex' | translate}}">
                        </p-inputNumber>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="save()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideCreateDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
