
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'homeWorkEtudiant.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'homeWorkEtudiant.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'homeWorkEtudiant.etudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'homeWorkEtudiant.etudiant' | translate}}" autofocus  id="1" [ngModel]="item.etudiant?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'homeWorkEtudiant.homeWork' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'homeWorkEtudiant.homeWork' | translate}}" autofocus  id="2" [ngModel]="item.homeWork?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'homeWorkEtudiant.note' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'homeWorkEtudiant.note' | translate}}" [ngModel]="item.note"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'homeWorkEtudiant.resultat' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'homeWorkEtudiant.resultat' | translate}}" autofocus  id="5" [ngModel]="item.resultat">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'homeWorkEtudiant.dateHomeWork' | translate}}</label>
                        <p-calendar id="6" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'homeWorkEtudiant.dateHomeWork' | translate}}"  [ngModel]="item.dateHomeWork" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'homeWorkEtudiant.reponseEtudiantHomeWorks' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.reponseEtudiantHomeWorks" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Howe work q s t reponse</th>
                                        <th>Answer</th>
                                        <th>Home work question</th>
                                        <th>Prof note</th>
                                        <th>Note</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.howeWorkQSTReponse?.lib}}</td>
                                        <td>{{p.answer}}</td>
                                        <td>{{p.homeWorkQuestion?.libelle}}</td>
                                        <td>{{p.profNote}}</td>
                                        <td>{{p.note}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



