        <mat-dialog-content class="mat-typography overflow-x-hidden" *transloco="let translate">
            <div class="w-full  items-center justify-center flex flex-col gap-4">

                <div class="w-full flex max-w-4xl  md:w-[70vw]  flex-col gap-4 items-center
                    justify-start content-center p-1 md:p-4 bg-gray-100 dark:bg-gray-600 rounded-md">
                                <div class="grid">

                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>datePublication</mat-label>
                                                    <input required type="date" matInput placeholder="DatePublication" [(ngModel)]="item.datePublication" name="datePublication">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>dateCreation</mat-label>
                                                    <input required type="date" matInput placeholder="DateCreation" [(ngModel)]="item.dateCreation" name="dateCreation">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>description</mat-label>
                                                    <textarea required matInput autocomplete="off" placeholder="Description" [(ngModel)]="item.description"  name="description"></textarea>
                                                </mat-form-field>


                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>code</mat-label>
                                                    <input required type="text" matInput autocomplete="off" placeholder="Code"  [(ngModel)]="item.code"  name="code">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>libelle</mat-label>
                                                    <input required type="text" matInput autocomplete="off" placeholder="Libelle"  [(ngModel)]="item.libelle"  name="libelle">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>NumeroOrder</mat-label>
                                                    <input required type="number" matInput placeholder="NumeroOrder"  [(ngModel)]="item.numeroOrder"  name="numeroOrder">
                                                </mat-form-field>


                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>NombreCours</mat-label>
                                                    <input required type="number" matInput placeholder="NombreCours"  [(ngModel)]="item.nombreCours"  name="nombreCours">
                                                </mat-form-field>


                                        <mat-form-field class="w-full">
                                            <mat-label>Collaborator</mat-label>
                                            <input type="text" matInput (input)="filterCollaborator(collaboratorInput.value)" #collaboratorInput [matAutocomplete]="collaboratorAutocomplete"  [(ngModel)]="item.collaborator"  name="collaborator">

                                            <mat-autocomplete #collaboratorAutocomplete="matAutocomplete" [displayWith]="displayCollaborator" >
                                              <mat-option *ngFor="let collaborator of _collaboratorsFilter" [value]="collaborator">
                                                {{collaborator.id}}
                                              </mat-option>
                                            </mat-autocomplete>
                                            </mat-form-field>

                                </div>
                                    <p-tabPanel header="{{'parcours.courss' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="1">Code<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Code"
                                                                               id="1" [(ngModel)]="courssElement.code" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validCourssCode}"  >
                                                                        <small class='p-error' *ngIf='!validCourssCode'>Code is obligatory.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="2">Libelle<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                               id="2" [(ngModel)]="courssElement.libelle" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validCourssLibelle}"  >
                                                                        <small class='p-error' *ngIf='!validCourssLibelle'>Libelle is obligatory.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="3">{{'cours.description' | translate}}</label>
                                                                        <textarea id="3" pInputTextarea rows="5" cols="30" placeholder="{{'cours.description' | translate}}"  [(ngModel)]="item.description"
                                                                                 ></textarea>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="4">Image</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Image"
                                                                               id="4" [(ngModel)]="courssElement.image" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Etat cours</label>
                                                                        <p-dropdown  appendTo="body"  [options]="etatCourss" [(ngModel)]="courssElement.etatCours"
                                                                                     id="5"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Etat cours"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>

                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="7">Nombre section finalise</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="nombreSectionFinalise" placeholder="Nombre section finalise"  [(ngModel)]="courssElement.nombreSectionFinalise"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="8">Nombre section en cours</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="nombreSectionEnCours" placeholder="Nombre section en cours"  [(ngModel)]="courssElement.nombreSectionEnCours"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="9">Nombre link en cours</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="nombreLinkEnCours" placeholder="Nombre link en cours"  [(ngModel)]="courssElement.nombreLinkEnCours"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="10">Nombre link finalise</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="nombreLinkFinalise" placeholder="Nombre link finalise"  [(ngModel)]="courssElement.nombreLinkFinalise"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="11">Numero order</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="numeroOrder" placeholder="Numero order"  [(ngModel)]="courssElement.numeroOrder"></p-inputNumber>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addCourss()"></button>
                                                        </div>

                                                    </div>
                                                    <div class="card">
                                                        <p-table [value]="item.courss" [scrollable]="true" scrollHeight="200px">
                                                                <tr>
                                                                                <th>Code</th>
                                                                                <th>Libelle</th>
                                                                                <th>Description</th>
                                                                                <th>Image</th>
                                                                                <th>Etat cours</th>
                                                                                <th>Nombre section finalise</th>
                                                                                <th>Nombre section en cours</th>
                                                                                <th>Nombre link en cours</th>
                                                                                <th>Nombre link finalise</th>
                                                                                <th>Numero order</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.code}}</td>
                                                                                <td>{{p.libelle}}</td>
                                                                                <td>{{p.description}}</td>
                                                                                <td>{{p.image}}</td>
                                                                            <td>{{p.etatCours?.libelle}}</td>
                                                                                <td>{{p.nombreSectionFinalise}}</td>
                                                                                <td>{{p.nombreSectionEnCours}}</td>
                                                                                <td>{{p.nombreLinkEnCours}}</td>
                                                                                <td>{{p.nombreLinkFinalise}}</td>
                                                                                <td>{{p.numeroOrder}}</td>
                                                                    <td>
                                                                        <button (click)="deleteCourss(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editCourss(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                        </p-table>
                                                    </div>






                <div class="w-full flex flex-row-reverse gap-2">

                            <button mat-button color="primary"  (click)="save()">
                                 {{translate('validate')}}
                            </button>


                            <button mat-button   color="accent" class="p-button-outlined" (click)="hideCreateDialog()">
                                {{translate('cancel')}}
                            </button>


                </div>

    </div>

        </div>

    </mat-dialog-content>
