    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'trancheHoraireProf.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'trancheHoraireProf.tabPan' | translate}}">
                        <div class="grid">

                                    <div class="field col-11 md:col-6">
                                        <label for="1">{{'trancheHoraireProf.prof' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="profs" [(ngModel)]="item.prof" id="1" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="ref" placeholder="{{'trancheHoraireProf.prof' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'trancheHoraireProf.startHour' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'trancheHoraireProf.startHour' | translate}}" id="2" [(ngModel)]="item.startHour"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'trancheHoraireProf.endHour' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'trancheHoraireProf.endHour' | translate}}" id="3" [(ngModel)]="item.endHour"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'trancheHoraireProf.day' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'trancheHoraireProf.day' | translate}}" [(ngModel)]="item.day"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'trancheHoraireProf.groupIndex' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'trancheHoraireProf.groupIndex' | translate}}" [(ngModel)]="item.groupIndex"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
