<p-dialog [(visible)]="createDialog" [draggable]="false" [maximizable]="true"
          [modal]="true" [resizable]="false" [style]="{width: '70vw'}" header="{{'classAverageBonus.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'classAverageBonus.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'classAverageBonus.code' | translate}}<span
                            style="color: red;">*</span></label>
                        <input [(ngModel)]="item.code" [ngClass]="{'ng-invalid ng-dirty' : !validClassAverageBonusCode}" class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'classAverageBonus.code' | translate}}"
                               type="text"/>
                        <small *ngIf='!validClassAverageBonusCode' class='p-error'>Code est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'classAverageBonus.nombreSession' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nombreSession" class="mb-2 mr-2"
                                       id="2"
                                       placeholder="{{'classAverageBonus.nombreSession' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'classAverageBonus.prix' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.prix" class="mb-2 mr-2" id="3"
                                       placeholder="{{'classAverageBonus.prix' | translate}}">
                        </p-inputNumber>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="save()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideCreateDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
