    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'contact.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'contact.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'contact.name' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'contact.name' | translate}}" id="1" [(ngModel)]="item.name"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'contact.email' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'contact.email' | translate}}" id="2" [(ngModel)]="item.email"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'contact.phone' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'contact.phone' | translate}}" id="3" [(ngModel)]="item.phone"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'contact.setFrom' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'contact.setFrom' | translate}}" id="4" [(ngModel)]="item.setFrom"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'contact.dateContact' | translate}}</label>
                                            <p-calendar appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="{{'contact.dateContact' | translate}}"  [(ngModel)]="item.dateContact"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="6">{{'contact.replied' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="item.replied"
                                                                >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'contact.message' | translate}}</label>
                                            <textarea id="7" pInputTextarea rows="5" cols="30" placeholder="{{'contact.message' | translate}}"  [(ngModel)]="item.message"
                                                       ></textarea>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="8">{{'contact.collaborator' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="item.collaborator" id="8" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'contact.collaborator' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
