
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'confirmationToken.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'confirmationToken.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'confirmationToken.token' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'confirmationToken.token' | translate}}" autofocus  id="1" [ngModel]="item.token">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'confirmationToken.expiresAt' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'confirmationToken.expiresAt' | translate}}"  [ngModel]="item.expiresAt" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'confirmationToken.createdAt' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'confirmationToken.createdAt' | translate}}"  [ngModel]="item.createdAt" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'confirmationToken.confirmedAt' | translate}}</label>
                        <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'confirmationToken.confirmedAt' | translate}}"  [ngModel]="item.confirmedAt" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'confirmationToken.etudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'confirmationToken.etudiant' | translate}}" autofocus  id="5" [ngModel]="item.etudiant?.ref">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



