        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'workloadBonusProf.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'workloadBonusProf.tabPan' | translate}}">
                                <div class="grid">

                                            <div class="field col-11 md:col-6">
                                                <label for="1">{{'workloadBonusProf.workloadBonus' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="workloadBonuss" [(ngModel)]="item.workloadBonus" id="1" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'workloadBonusProf.workloadBonus' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="2">{{'workloadBonusProf.prof' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="profs" [(ngModel)]="item.prof" id="2" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="ref" placeholder="{{'workloadBonusProf.prof' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'workloadBonusProf.mois' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'workloadBonusProf.mois' | translate}}" [(ngModel)]="item.mois"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'workloadBonusProf.annee' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'workloadBonusProf.annee' | translate}}" [(ngModel)]="item.annee"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="5">{{'workloadBonusProf.salary' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="salarys" [(ngModel)]="item.salary" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'workloadBonusProf.salary' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
