<div class="w-full overflow-y-auto flex  items-center content-center justify-center">
    <div class="w-full bg-gray-50 dark:bg-gray-700 shadow-md max-w-5xl h-auto min-h-screen">
        <div class="flex flex-col gap-4 p-3">
            <div class="bg-white dark:bg-gray-800">
                <div class="container flex items-center px-6 py-4 mx-auto overflow-x-auto whitespace-nowrap">
                    <a routerLink="/admin/manage-courses"
                       class="flex items-center text-gray-600 -px-2 dark:text-gray-200 hover:underline">
                        <mat-icon class="mx-2" svgIcon="heroicons_solid:briefcase"></mat-icon>
                        <span class="mx-2">Materials</span>
                    </a>

                    <span class="mx-5 pt-1 text-gray-500 dark:text-gray-300 rtl:-scale-x-100">
                        <mat-icon svgIcon="heroicons_mini:chevron-right"></mat-icon>
                    </span>

                    <a class="flex items-center text-blue-600 -px-2 dark:text-blue-400 hover:underline">
                        <mat-icon class="mx-2 text-blue-600 dark:text-blue-400"
                                  svgIcon="heroicons_solid:briefcase"></mat-icon>
                        <span class="mx-2">{{item?.libelle}}</span>
                    </a>

                </div>
            </div>

            <fuse-card
                class="flex flex-col rounded-none shadow-none border border-gray-100 dark:border-gray-700  w-full p-8 pb-4 filter-article">
                <div class="flex relative items-center">
                    <ng-container *ngIf="item.url else showColor">
                        <img
                            class="w-20 h-20 relative rounded-lg object-cover"
                            ngSrc="{{item.url}}"
                            alt="Card cover image" fill>
                    </ng-container>
                    <ng-template #showColor>
                        <div
                            class="w-20 h-20 rounded-lg bg-{{item.color}}-100 flex items-center justify-center content-center">
                            <strong
                                class="text-5xl opacity-60 font-bold uppercase text-{{item.color}}-600">{{item.code}}
                            </strong>
                        </div>
                    </ng-template>

                    <div class="flex flex-col ml-6">
                        <div class="text-2xl font-semibold leading-tight">{{item.libelle}}</div>
                        <div class="text-secondary font-medium text-md">{{item.nombreCours}} course includes</div>
                    </div>

                    <div *ngIf ="athenticatedUser.id === item.collaborator.id" class="flex flex-grow  items-center flex-row-reverse">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="edit(item)">Edit</button>
                            <button mat-menu-item (click)="delete(item)">Delete</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="my-6">
                    {{item?.description}}
                </div>

                <span class="relative mb-6 flex justify-center">
                    <div
                        class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-gray-500 to-transparent opacity-75"></div>
                    <span class="relative ubuntu-medium z-10 bg-white dark:bg-gray-800 px-6">Contents</span>
                </span>

                <section class="container w-full overflow-x-auto md:overflow-x-hidden px-4 mx-auto">
                    <div  class="flex flex-row  flex-wrap items-center gap-x-5">
                        <mat-form-field
                            class="flex-auto fuse-mat-bold fuse-mat-dense  flex-grow">
                            <input placeholder="search.." matInput >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        </mat-form-field>
                        <button  mat-icon-button class="mb-5" color="warn">
                            <mat-icon class="icon-size-8"
                                      svgIcon="heroicons_solid:magnifying-glass-circle"></mat-icon>
                        </button>

                        <a *ngIf ="athenticatedUser.id === item.collaborator.id"   class="group cursor-pointer mb-5 relative  inline-block text-sm font-medium text-orange-600 focus:outline-none focus:ring active:text-orange-500"
                           (click)="createCourse()">
                            <span
                                class="absolute inset-0 translate-x-0 translate-y-0 bg-orange-600 transition-transform group-hover:translate-x-0.5 group-hover:translate-y-0.5"></span>
                            <span
                                class="relative block border border-current bg-white px-8 py-3"> Create new course ✏</span>
                        </a>
                    </div>

                    <div class="flex flex-col mt-6">
                        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">

                                    <ng-container *ngIf="courses?.length > 0 else noCourses">
                                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                            <thead class="bg-gray-50 dark:bg-gray-800">
                                            <tr>
                                                <th scope="col"
                                                    class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                    <div class="flex items-center gap-x-3">
                                                        <input type="checkbox"
                                                               class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                                        <span>Course name</span>
                                                    </div>
                                                </th>


                                                <th scope="col"
                                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                    Details
                                                </th>


                                                <th scope="col" class="relative py-3.5 px-4">
                                                    <span class="sr-only">Edit</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody
                                                class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                            <ng-container *ngFor="let element of courses">
                                                <tr (click)="navigateToSections(element)"
                                                    class="cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600">
                                                    <td class="px-4 py-4  text-sm font-medium text-gray-700 whitespace-nowrap">
                                                        <div class="inline-flex items-center gap-x-3">
                                                            <input type="checkbox" class="text-blue-500 border-gray-300 rounded dark:bg-gray-900
                                                         dark:ring-offset-gray-900 dark:border-gray-700">

                                                            <div class="flex relative items-center gap-x-2">
                                                                <ng-container *ngIf="element?.image else showcontainer">
                                                                    <img
                                                                        class="object-cover relative w-10 h-10 rounded-md"
                                                                        src="{{element?.image}}"
                                                                        width="100"
                                                                        height="100"
                                                                        alt="">
                                                                </ng-container>
                                                                <ng-template #showcontainer>
                                                                    <div
                                                                        class="w-10 h-10 bg-yellow-100 rounded-md flex items-center justify-center content-center">
                                                                        <strong
                                                                            class="uppercase text-yellow-600 ubuntu-bold">{{element?.libelle?.at(0)}}</strong>
                                                                    </div>
                                                                </ng-template>

                                                                <div>
                                                                    <h2 class="font-medium text-gray-800 dark:text-white ">
                                                                        {{element?.libelle}}</h2>
                                                                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                                                                        {{element?.description}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                                        {{element?.nombreSectionFinalise}} sections includes
                                                    </td>
                                                    <td   class="px-4 py-4 text-sm whitespace-nowrap">
                                                        <div  *ngIf ="athenticatedUser.id === item.collaborator.id"  class="flex items-center gap-x-6">
                                                            <button (click)="deleteCourse()"
                                                                class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="w-5 h-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                                                                </svg>
                                                            </button>

                                                            <button (click)="editCourse(element)"
                                                                class="text-gray-500 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="w-5 h-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            </tbody>
                                        </table>
                                    </ng-container>

                                    <ng-template #noCourses>
                                        <div
                                            class="w-full my-4 flex flex-col items-center gap-4 justify-center content-center">
                                            <mat-icon class="icon-size-8 text-secondary"
                                                      svgIcon="mat_outline:collections_bookmark"></mat-icon>
                                            <p class="ubuntu-bold-italic text-secondary">NO COURSES FOUND!</p>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between mt-6">
                    </div>
                </section>

            </fuse-card>

        </div>
    </div>
</div>
