<div
    class="p-4 border-grayMain w-full rounded-md shadow-sm dark:bg-gray-800 bg-gray-100">
    <div class=" relative flex flex-col gap-3  overflow-x-auto">
        <div class="w-full items-end">
            <button (click)="createAnswer()" mat-fab color="primary">
                <mat-icon
                    matTooltip="add answer"
                    svgIcon="heroicons_solid:plus"></mat-icon>
            </button>
        </div>


        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 border-b uppercase dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3">
                    N°
                </th>

                <th scope="col" class="py-3">
                    answer
                </th>
                <th scope="col" class="py-3">
                    state
                </th>
                <th scope="col" class="py-3">

                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answer of answers; index as i "
                class="bg-white p-2 border-b border-b-gray-100 dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="p-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{answer?.numero}}
                </th>
                <th scope="row"
                    class="p-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                    <ng-container *ngIf="editField !== i">
                        {{answer?.lib}}
                    </ng-container>

                    <ng-container *ngIf="editField === i">
                        <mat-form-field class="flex-auto w-full col-span-2 flex-grow fuse-mat-dense">
                                            <textarea
                                                matInput
                                                (focusout)="editField=-1"
                                                [(ngModel)]="answer.lib"
                                                name="libelle"
                                                cdkTextareaAutosize></textarea>
                        </mat-form-field>
                    </ng-container>
                </th>

                <th scope="row"
                    class="p-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">

                    <ng-container *ngIf="editField === i">
                        <mat-form-field class="flex-auto  fuse-mat-dense">
                            <mat-select required [(ngModel)]="answer.etatReponse" name="etatReponse">
                                <mat-option [value]="true">True</mat-option>
                                <mat-option [value]="false">False</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="editField !== i">
                        <div *ngIf="answer?.etatReponse"
                             class="inline px-3 py-1 text-sm font-normal rounded-full
                                                        text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                            {{answer.etatReponse}}
                        </div>
                        <div *ngIf="!answer?.etatReponse"
                             class="inline px-3 py-1 text-sm font-normal rounded-full
                                                        text-red-500 gap-x-2 bg-red-100/60">
                            {{answer.etatReponse}}
                        </div>
                    </ng-container>

                </th>

                <th scope="row"
                    class="p-4 flex flex-row items-center gap-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <button (click)="editField=i"
                            mat-icon-button color="primary">
                        <mat-icon class="icon-size-4"
                                  svgIcon="heroicons_solid:pencil"></mat-icon>
                    </button>
                    <button (click)="delete(i)" mat-icon-button color="warn">
                        <mat-icon class="icon-size-4"
                                  svgIcon="heroicons_solid:trash"></mat-icon>
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
