
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reponseEtudiant.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'reponseEtudiant.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'reponseEtudiant.ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reponseEtudiant.ref' | translate}}" autofocus  id="1" [ngModel]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'reponseEtudiant.reponse' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reponseEtudiant.reponse' | translate}}" autofocus  id="2" [ngModel]="item.reponse?.lib">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'reponseEtudiant.answer' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reponseEtudiant.answer' | translate}}" autofocus  id="3" [ngModel]="item.answer">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'reponseEtudiant.quizEtudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reponseEtudiant.quizEtudiant' | translate}}" autofocus  id="4" [ngModel]="item.quizEtudiant?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'reponseEtudiant.note' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'reponseEtudiant.note' | translate}}" [ngModel]="item.note"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'reponseEtudiant.question' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reponseEtudiant.question' | translate}}" autofocus  id="6" [ngModel]="item.question?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



