<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('PackStudent')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="1-1">{{'packStudent.nombreCoursMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreCoursMin" id="1-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="1-2">{{'packStudent.nombreCoursMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreCoursMax" id="1-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2">{{'packStudent.forGroupe' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.forGroupe" [filter]="false" [options]="yesOrNoForGroupe"
                                        [showClear]="true"
                                        class="p-fluid" id="2"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'packStudent.forGroupe' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3">{{'packStudent.code' | translate}}</label>
                            <input [(ngModel)]="criteria.codeLike" class="w-full" id="3" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'packStudent.libelle' | translate}}</label>
                            <input [(ngModel)]="criteria.libelleLike" class="w-full" id="4" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="6">{{'packStudent.preRequisites' | translate}}</label>
                            <input [(ngModel)]="criteria.preRequisitesLike" class="w-full" id="6" pInputText
                                   type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="7">{{'packStudent.whyTakeThisCourse' | translate}}</label>
                            <input [(ngModel)]="criteria.whyTakeThisCourseLike" class="w-full" id="7" pInputText
                                   type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="8">{{'packStudent.expectations' | translate}}</label>
                            <input [(ngModel)]="criteria.expectationsLike" class="w-full" id="8" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="9-2">{{'packStudent.parcours' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.parcours" [filter]="true" [options]="parcourss" [showClear]="true"
                                        class="p-fluid"
                                        id="9" optionLabel="libelle"
                                        placeholder="{{'packStudent.parcours' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="10">{{'packStudent.imgUrl' | translate}}</label>
                            <input [(ngModel)]="criteria.imgUrlLike" class="w-full" id="10" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="11-2">{{'packStudent.price' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.price" [filter]="true" [options]="prices" [showClear]="true"
                                        class="p-fluid"
                                        id="11" optionLabel="lib"
                                        placeholder="{{'packStudent.price' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="12-1">{{'packStudent.totalStudentsMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.totalStudentsMin" id="12-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="12-2">{{'packStudent.totalStudentsMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.totalStudentsMax" id="12-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="13">{{'packStudent.rating' | translate}}</label>
                            <input [(ngModel)]="criteria.ratingLike" class="w-full" id="13" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="14">{{'packStudent.oldPrice' | translate}}</label>
                            <input [(ngModel)]="criteria.oldPriceLike" class="w-full" id="14" pInputText type="text">
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['nombreCours', 'forGroupe', 'code', 'libelle', 'preRequisites', 'whyTakeThisCourse', 'expectations', 'parcourslibelle', 'imgUrl', 'pricelib', 'totalStudents', 'rating', 'oldPrice']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'packStudent.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="nombreCours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.nombreCours' | translate}}</span>
                                <p-sortIcon field="nombreCours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="forGroupe">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.forGroupe' | translate}}</span>
                                <p-sortIcon field="forGroupe"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.code"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.libelle"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="preRequisites">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.preRequisites' | translate}}</span>
                                <p-sortIcon field="preRequisites"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.preRequisites"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="whyTakeThisCourse">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.whyTakeThisCourse' | translate}}</span>
                                <p-sortIcon field="whyTakeThisCourse"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.whyTakeThisCourse"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="expectations">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.expectations' | translate}}</span>
                                <p-sortIcon field="expectations"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.expectations"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="parcours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.parcours' | translate}}</span>
                                <p-sortIcon field="parcours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="imgUrl">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'packStudent.imgUrl' | translate}}</span>
                                <p-sortIcon field="imgUrl"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.imgUrl"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="price">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'packStudent.price' | translate}}</span>
                        <p-sortIcon field="price"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="totalStudents">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'packStudent.totalStudents' | translate}}</span>
                        <p-sortIcon field="totalStudents"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="rating">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'packStudent.rating' | translate}}</span>
                        <p-sortIcon field="rating"></p-sortIcon>
                        <p-columnFilter type="text" field="element.rating" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="oldPrice">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'packStudent.oldPrice' | translate}}</span>
                        <p-sortIcon field="oldPrice"></p-sortIcon>
                        <p-columnFilter type="text" field="element.oldPrice" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.nombreCours}}</td>


                        <td><i *ngIf="element.forGroupe" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.forGroupe" class="pi pi-times unchecked-toogle"></i>
                        </td>


                        <td>{{element.code}}</td>


                        <td>{{element.libelle}}</td>


                        <td>{{element.preRequisites}}</td>


                        <td>{{element.whyTakeThisCourse}}</td>


                        <td>{{element.expectations}}</td>


                        <td>{{element.parcours?.libelle}}</td>


                        <td>{{element.imgUrl}}</td>

                        <!--
                   <td>{{element.price?.lib}}</td>
                        -->
                        <!--
                   <td>{{element.totalStudents}}</td>
                        -->
                        <!--
                   <td>{{element.rating}}</td>
                        -->
                        <!--
                   <td>{{element.oldPrice}}</td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'pack student' : 'pack students' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-pack-student-create-admin *ngIf="createDialog  && createActionIsValid"></app-pack-student-create-admin>
        <app-pack-student-edit-admin *ngIf="editDialog  && editActionIsValid"></app-pack-student-edit-admin>
        <app-pack-student-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-pack-student-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
