
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'groupeEtudiant.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'groupeEtudiant.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'groupeEtudiant.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.libelle' | translate}}" autofocus  id="1" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'groupeEtudiant.type' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.type' | translate}}" autofocus  id="2" [ngModel]="item.type">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'groupeEtudiant.dateDebut' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'groupeEtudiant.dateDebut' | translate}}"  [ngModel]="item.dateDebut" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'groupeEtudiant.dateFin' | translate}}</label>
                        <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'groupeEtudiant.dateFin' | translate}}"  [ngModel]="item.dateFin" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'groupeEtudiant.nombrePlace' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'groupeEtudiant.nombrePlace' | translate}}" [ngModel]="item.nombrePlace"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'groupeEtudiant.nombrePlacevide' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'groupeEtudiant.nombrePlacevide' | translate}}" [ngModel]="item.nombrePlacevide"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'groupeEtudiant.nombrePlaceNonVide' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'groupeEtudiant.nombrePlaceNonVide' | translate}}" [ngModel]="item.nombrePlaceNonVide"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'groupeEtudiant.groupeEtude' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.groupeEtude' | translate}}" autofocus  id="9" [ngModel]="item.groupeEtude?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'groupeEtudiant.groupeType' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.groupeType' | translate}}" autofocus  id="10" [ngModel]="item.groupeType?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'groupeEtudiant.groupeEtat' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.groupeEtat' | translate}}" autofocus  id="11" [ngModel]="item.groupeEtat?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'groupeEtudiant.parcours' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.parcours' | translate}}" autofocus  id="12" [ngModel]="item.parcours?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'groupeEtudiant.prof' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupeEtudiant.prof' | translate}}" autofocus  id="13" [ngModel]="item.prof?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="14">{{'groupeEtudiant.nreCoursesComing' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="14" [disabled]="true" placeholder="{{'groupeEtudiant.nreCoursesComing' | translate}}" [ngModel]="item.nreCoursesComing"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="15">{{'groupeEtudiant.nreCoursesCompleted' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="15" [disabled]="true" placeholder="{{'groupeEtudiant.nreCoursesCompleted' | translate}}" [ngModel]="item.nreCoursesCompleted"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="16">{{'groupeEtudiant.nreCourses' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="16" [disabled]="true" placeholder="{{'groupeEtudiant.nreCourses' | translate}}" [ngModel]="item.nreCourses"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



