<div *ngIf="listActionIsValid" class="grid ">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card shadow-2">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Inscription')" *ngIf="createActionIsValid"
                            class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()"
                            class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}"
                                       styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="1-1">{{'inscription.numeroInscriptionMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroInscriptionMin" id="1-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="1-2">{{'inscription.numeroInscriptionMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroInscriptionMax" id="1-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2-2">{{'inscription.etudiant' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.etudiant" [filter]="true" [options]="etudiants"
                                        [showClear]="true"
                                        class="p-fluid"
                                        id="2" optionLabel="ref"
                                        placeholder="{{'inscription.etudiant' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="3-2">{{'inscription.etatInscription' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.etatInscription" [filter]="true"
                                        [options]="etatInscriptions"
                                        [showClear]="true" class="p-fluid"
                                        id="3" optionLabel="libelle"
                                        placeholder="{{'inscription.etatInscription' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4-2">{{'inscription.parcours' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.parcours" [filter]="true" [options]="parcourss"
                                        [showClear]="true"
                                        class="p-fluid"
                                        id="4" optionLabel="libelle"
                                        placeholder="{{'inscription.parcours' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="5-2">{{'inscription.groupeEtude' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.groupeEtude" [filter]="true" [options]="groupeEtudes"
                                        [showClear]="true" class="p-fluid"
                                        id="5" optionLabel="libelle"
                                        placeholder="{{'inscription.groupeEtude' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="6-2">{{'inscription.groupeType' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.groupeType" [filter]="true" [options]="groupeTypes"
                                        [showClear]="true"
                                        class="p-fluid"
                                        id="6" optionLabel="libelle"
                                        placeholder="{{'inscription.groupeType' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="7-2">{{'inscription.statutSocial' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.statutSocial" [filter]="true" [options]="statutSocials"
                                        [showClear]="true" class="p-fluid"
                                        id="7" optionLabel="libelle"
                                        placeholder="{{'inscription.statutSocial' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="8-2">{{'inscription.interetEtudiant' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.interetEtudiant" [filter]="true"
                                        [options]="interetEtudiants"
                                        [showClear]="true" class="p-fluid"
                                        id="8" optionLabel="libelle"
                                        placeholder="{{'inscription.interetEtudiant' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="9-2">{{'inscription.niveauEtude' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.niveauEtude" [filter]="true" [options]="niveauEtudes"
                                        [showClear]="true" class="p-fluid"
                                        id="9" optionLabel="libelle"
                                        placeholder="{{'inscription.niveauEtude' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-2">{{'inscription.fonction' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.fonction" [filter]="true" [options]="fonctions"
                                        [showClear]="true"
                                        class="p-fluid"
                                        id="10" optionLabel="libelle"
                                        placeholder="{{'inscription.fonction' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="11-2">{{'inscription.quiz' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.quiz" [filter]="true" [options]="quizs" [showClear]="true"
                                        class="p-fluid"
                                        id="11" optionLabel="lib"
                                        placeholder="{{'inscription.quiz' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="12-1">{{'inscription.noteQuizNiveauMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.noteQuizNiveauMin" id="12-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="12-2">{{'inscription.noteQuizNiveauMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.noteQuizNiveauMax" id="12-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="13">{{'inscription.quizFinished' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.quizFinished" [filter]="false"
                                        [options]="yesOrNoQuizFinished"
                                        [showClear]="true"
                                        class="p-fluid" id="13"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'inscription.quizFinished' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="14">{{'inscription.subscriptionFinished' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.subscriptionFinished" [filter]="false"
                                        [options]="yesOrNoSubscriptionFinished" [showClear]="true"
                                        class="p-fluid" id="14"
                                        optionLabel="label"
                                        optionValue="value"
                                        placeholder="{{'inscription.subscriptionFinished' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="15">{{'inscription.dateRegistration' | translate}}</label>
                            <input [(ngModel)]="criteria.dateRegistrationLike" class="w-full" id="15" pInputText
                                   type="text">
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="16-1">{{'inscription.datedebutinscriptionMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.datedebutinscriptionFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="16-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="16-2">{{'inscription.datedebutinscriptionMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.datedebutinscriptionTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="16-2"></p-calendar>
                        </div>


                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="17-1">{{'inscription.datefininscriptionMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.datefininscriptionFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="17-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="17-2">{{'inscription.datefininscriptionMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.datefininscriptionTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="17-2"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="18-2">{{'inscription.packStudent' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.packStudent" [filter]="true" [options]="packStudents"
                                        [showClear]="true" class="p-fluid"
                                        id="18" optionLabel="libelle"
                                        placeholder="{{'inscription.packStudent' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="19-2">{{'inscription.skill' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.skill" [filter]="true" [options]="skills"
                                        [showClear]="true"
                                        class="p-fluid"
                                        id="19" optionLabel="libelle"
                                        placeholder="{{'inscription.skill' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="20">{{'inscription.skype' | translate}}</label>
                            <input [(ngModel)]="criteria.skypeLike" class="w-full" id="20" pInputText type="text">
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2"
                                icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols"
                     [globalFilterFields]="['numeroInscription', 'etudiantref', 'etatInscriptionlibelle', 'parcourslibelle', 'groupeEtudelibelle', 'groupeTypelibelle', 'statutSociallibelle', 'interetEtudiantlibelle', 'niveauEtudelibelle', 'fonctionlibelle', 'quizlib', 'noteQuizNiveau', 'quizFinished', 'subscriptionFinished', 'dateRegistration', 'datedebutinscription', 'datefininscription', 'packStudentlibelle', 'skilllibelle', 'skype']"
                     [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'inscription.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                                   placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="numeroInscription">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.numeroInscription' | translate}}</span>
                                <p-sortIcon field="numeroInscription"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="etudiant">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.etudiant' | translate}}</span>
                                <p-sortIcon field="etudiant"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="etatInscription">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.etatInscription' | translate}}</span>
                                <p-sortIcon field="etatInscription"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="parcours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.parcours' | translate}}</span>
                                <p-sortIcon field="parcours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="groupeEtude">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.groupeEtude' | translate}}</span>
                                <p-sortIcon field="groupeEtude"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="groupeType">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.groupeType' | translate}}</span>
                                <p-sortIcon field="groupeType"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="statutSocial">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.statutSocial' | translate}}</span>
                                <p-sortIcon field="statutSocial"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="interetEtudiant">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.interetEtudiant' | translate}}</span>
                                <p-sortIcon field="interetEtudiant"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="niveauEtude">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscription.niveauEtude' | translate}}</span>
                                <p-sortIcon field="niveauEtude"></p-sortIcon>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="fonction">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.fonction' | translate}}</span>
                        <p-sortIcon field="fonction"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="quiz">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.quiz' | translate}}</span>
                        <p-sortIcon field="quiz"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="noteQuizNiveau">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.noteQuizNiveau' | translate}}</span>
                        <p-sortIcon field="noteQuizNiveau"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="quizFinished">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.quizFinished' | translate}}</span>
                        <p-sortIcon field="quizFinished"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="subscriptionFinished">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.subscriptionFinished' | translate}}</span>
                        <p-sortIcon field="subscriptionFinished"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="dateRegistration">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.dateRegistration' | translate}}</span>
                        <p-sortIcon field="dateRegistration"></p-sortIcon>
                        <p-columnFilter type="text" field="element.dateRegistration" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="datedebutinscription">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.datedebutinscription' | translate}}</span>
                        <p-sortIcon field="datedebutinscription"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="datefininscription">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.datefininscription' | translate}}</span>
                        <p-sortIcon field="datefininscription"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="packStudent">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.packStudent' | translate}}</span>
                        <p-sortIcon field="packStudent"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="skill">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.skill' | translate}}</span>
                        <p-sortIcon field="skill"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="skype">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'inscription.skype' | translate}}</span>
                        <p-sortIcon field="skype"></p-sortIcon>
                        <p-columnFilter type="text" field="element.skype" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.numeroInscription}}</td>


                        <td>{{element.etudiant?.ref}}</td>


                        <td>{{element.etatInscription?.libelle}}</td>


                        <td>{{element.parcours?.libelle}}</td>


                        <td>{{element.groupeEtude?.libelle}}</td>


                        <td>{{element.groupeType?.libelle}}</td>


                        <td>{{element.statutSocial?.libelle}}</td>


                        <td>{{element.interetEtudiant?.libelle}}</td>


                        <td>{{element.niveauEtude?.libelle}}</td>

                        <!--
                   <td>{{element.fonction?.libelle}}</td>
                        -->
                        <!--
                   <td>{{element.quiz?.lib}}</td>
                        -->
                        <!--
                   <td>{{element.noteQuizNiveau}}</td>
                        -->
                        <!--
                   <td><i *ngIf="element.quizFinished" class="pi pi-check checked-toogle"></i>
                       <i *ngIf="!element.quizFinished" class="pi pi-times unchecked-toogle"></i>
                   </td>
                        -->
                        <!--
                   <td><i *ngIf="element.subscriptionFinished" class="pi pi-check checked-toogle"></i>
                       <i *ngIf="!element.subscriptionFinished" class="pi pi-times unchecked-toogle"></i>
                   </td>
                        -->
                        <!--
                   <td>{{element.dateRegistration}}</td>
                        -->
                        <!--
                   <td>{{element.datedebutinscription | date :'dd/MM/yyyy HH:mm' }}</td>
                        -->
                        <!--
                   <td>{{element.datefininscription | date :'dd/MM/yyyy HH:mm' }}</td>
                        -->
                        <!--
                   <td>{{element.packStudent?.libelle}}</td>
                        -->
                        <!--
                   <td>{{element.skill?.libelle}}</td>
                        -->
                        <!--
                   <td>{{element.skype}}</td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid"
                                    class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid"
                                    class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid"
                                    class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid"
                                    class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'inscription' : 'inscriptions' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-inscription-create-admin *ngIf="createDialog  && createActionIsValid"></app-inscription-create-admin>
        <app-inscription-edit-admin *ngIf="editDialog  && editActionIsValid"></app-inscription-edit-admin>
        <app-inscription-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-inscription-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
