<p-dialog [(visible)]="createDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'question.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'question.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'question.ref' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.ref" [ngClass]="{'ng-invalid ng-dirty' : !validQuestionRef}" class="mb-2 mr-2" id="1"
                               pInputText placeholder="{{'question.ref' | translate}}"
                               type="text"/>
                        <small *ngIf='!validQuestionRef' class='p-error'>Ref est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'question.libelle' | translate}}</label>
                        <input [(ngModel)]="item.libelle" class="mb-2 mr-2" id="2" pInputText
                               placeholder="{{'question.libelle' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="3">{{'question.urlImg' | translate}}</label>
                        <input [(ngModel)]="item.urlImg" class="mb-2 mr-2" id="3" pInputText
                               placeholder="{{'question.urlImg' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="4">{{'question.urlVideo' | translate}}</label>
                        <input [(ngModel)]="item.urlVideo" class="mb-2 mr-2" id="4"
                               pInputText placeholder="{{'question.urlVideo' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="5">{{'question.numero' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.numero" class="mb-2 mr-2" id="5"
                                       placeholder="{{'question.numero' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="6">{{'question.pointReponseJuste' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.pointReponseJuste" class="mb-2 mr-2"
                                       id="6"
                                       placeholder="{{'question.pointReponseJuste' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="7">{{'question.pointReponsefausse' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.pointReponsefausse" class="mb-2 mr-2"
                                       id="7"
                                       placeholder="{{'question.pointReponsefausse' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="8">{{'question.typeDeQuestion' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.typeDeQuestion" [filter]="true" [options]="typeDeQuestions" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="8" optionLabel="lib"
                                    placeholder="{{'question.typeDeQuestion' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="10">{{'question.quiz' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.quiz" [filter]="true" [options]="quizs" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains"
                                    id="10" optionLabel="lib" placeholder="{{'question.quiz' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="11">{{'question.homeWork' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.homeWork" [filter]="true" [options]="homeWorks" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="11" optionLabel="libelle"
                                    placeholder="{{'question.homeWork' | translate}}">
                        </p-dropdown>

                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'question.reponses' | translate}}">
                <div class="p-col">
                    <div class="grid">
                        <div class="field col-12 md:col-6">
                            <label for="1">Ref<span style="color: red;">*</span></label>
                            <input [(ngModel)]="reponsesElement.ref" [ngClass]="{'ng-invalid ng-dirty' : !validReponsesRef}" autofocus class="mb-2 mr-2"
                                   id="1" pInputText placeholder="Ref"
                                   type="text">
                            <small *ngIf='!validReponsesRef' class='p-error'>Ref est obligatoire.</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="2">Lib<span style="color: red;">*</span></label>
                            <input [(ngModel)]="reponsesElement.lib" [ngClass]="{'ng-invalid ng-dirty' : !validReponsesLib}" autofocus class="mb-2 mr-2"
                                   id="2" pInputText placeholder="Lib"
                                   type="text">
                            <small *ngIf='!validReponsesLib' class='p-error'>Lib est obligatoire.</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="3">Etat reponse</label>
                            <input [(ngModel)]="reponsesElement.etatReponse" autofocus class="mb-2 mr-2" id="3"
                                   pInputText placeholder="Etat reponse" type="text">

                        </div>
                        <div class="field col-12 md:col-6">
                            <label for="4">Numero</label>
                            <p-inputNumber [(ngModel)]="reponsesElement.numero" class="mb-2 mr-2" id="numero"
                                           placeholder="Numero"></p-inputNumber>

                        </div>
                        <div class="field col-12 md:col-1">
                            <button (click)="addReponses()" class="mt-4" icon="pi pi-plus" label="OK" pButton pRipple
                                    type="button"></button>
                        </div>

                    </div>
                </div>
                <div class="p-col">
                    <div class="card">
                        <p-table [scrollable]="true" [value]="item.reponses" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Ref</th>
                                    <th>Lib</th>
                                    <th>Etat reponse</th>
                                    <th>Numero</th>
                                    <th>Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template let-p pTemplate="body">
                                <tr>
                                    <td>{{p.ref}}</td>
                                    <td>{{p.lib}}</td>
                                    <td>{{p.etatReponse}}</td>
                                    <td>{{p.numero}}</td>
                                    <td>
                                        <button (click)="deleteReponses(p)" class="p-button-rounded p-button-danger" icon="pi pi-times" pButton
                                                type="button"></button>
                                        <button (click)="editReponses(p)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil" pButton
                                                type="button"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="save()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideCreateDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
