    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'quiz.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'quiz.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'quiz.ref' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'quiz.ref' | translate}}" id="1" [(ngModel)]="item.ref"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validQuizRef}"  />
                                            <small class='p-error' *ngIf='!validQuizRef'>Ref est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'quiz.lib' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'quiz.lib' | translate}}" id="2" [(ngModel)]="item.lib"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validQuizLib}"  />
                                            <small class='p-error' *ngIf='!validQuizLib'>Lib est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'quiz.dateDebut' | translate}}</label>
                                            <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'quiz.dateDebut' | translate}}"  [(ngModel)]="item.dateDebut"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'quiz.dateFin' | translate}}</label>
                                            <p-calendar appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="{{'quiz.dateFin' | translate}}"  [(ngModel)]="item.dateFin"
                                                        dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="7">{{'quiz.section' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="sections" [(ngModel)]="item.section" id="7" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'quiz.section' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="8">{{'quiz.numero' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="8" placeholder="{{'quiz.numero' | translate}}" [(ngModel)]="item.numero"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="9">{{'quiz.seuilReussite' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="9" placeholder="{{'quiz.seuilReussite' | translate}}" [(ngModel)]="item.seuilReussite"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="{{'quiz.questions' | translate}}">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                            <div class="grid">
                                                            <div class="field col-12 md:col-6">
                                                                <label for="1">Ref<span style="color: red;">*</span></label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Ref"
                                                                       id="1" [(ngModel)]="questionsElement.ref" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validQuestionsRef}"  >
                                                                <small class='p-error' *ngIf='!validQuestionsRef'>Ref est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="2">Libelle</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                       id="2" [(ngModel)]="questionsElement.libelle" autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">Url img</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Url img"
                                                                       id="3" [(ngModel)]="questionsElement.urlImg" autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="4">Url video</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Url video"
                                                                       id="4" [(ngModel)]="questionsElement.urlVideo" autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="5">Numero</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="numero" placeholder="Numero"  [(ngModel)]="questionsElement.numero"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="6">Point reponse juste</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="pointReponseJuste" placeholder="Point reponse juste"  [(ngModel)]="questionsElement.pointReponseJuste"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="7">Point reponsefausse</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="pointReponsefausse" placeholder="Point reponsefausse"  [(ngModel)]="questionsElement.pointReponsefausse"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-11 md:col-6">
                                                                <label>Type de question</label>
                                                                <p-dropdown  appendTo="body"  [options]="typeDeQuestions" [(ngModel)]="questionsElement.typeDeQuestion"
                                                                             id="8"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="lib"
                                                                             placeholder="Type de question"  >
                                                                </p-dropdown>
                                                                
                                                            </div>

                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addQuestions()"></button>
                                                </div>

                                            </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.questions?.length > 0 ? '(' + item.questions?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.questions" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Ref</th>
                                                                        <th>Libelle</th>
                                                                        <th>Url img</th>
                                                                        <th>Url video</th>
                                                                        <th>Numero</th>
                                                                        <th>Point reponse juste</th>
                                                                        <th>Point reponsefausse</th>
                                                                        <th>Type de question</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.ref}}</td>
                                                                        <td>{{p.libelle}}</td>
                                                                        <td>{{p.urlImg}}</td>
                                                                        <td>{{p.urlVideo}}</td>
                                                                        <td>{{p.numero}}</td>
                                                                        <td>{{p.pointReponseJuste}}</td>
                                                                        <td>{{p.pointReponsefausse}}</td>
                                                                    <td>{{p.typeDeQuestion?.lib}}</td>
                                                            <td>
                                                                <button (click)="deleteQuestions(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editQuestions(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>

                            <p-tabPanel header="{{'quiz.quizEtudiants' | translate}}">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                            <div class="grid">
                                                            <div class="field col-12 md:col-6">
                                                                <label for="1">Ref<span style="color: red;">*</span></label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Ref"
                                                                       id="1" [(ngModel)]="quizEtudiantsElement.ref" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validQuizEtudiantsRef}"  >
                                                                <small class='p-error' *ngIf='!validQuizEtudiantsRef'>Ref est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-11 md:col-6">
                                                                <label>Etudiant</label>
                                                                <p-dropdown  appendTo="body"  [options]="etudiants" [(ngModel)]="quizEtudiantsElement.etudiant"
                                                                             id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="id"
                                                                             placeholder="Etudiant"  >
                                                                </p-dropdown>
                                                                
                                                            </div>

                                                            <div class="field col-12 md:col-6">
                                                                <label for="5">Note</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="note" placeholder="Note"  [(ngModel)]="quizEtudiantsElement.note"></p-inputNumber>
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="6">Resultat</label>
                                                                <input class="mb-2 mr-2" type="text" pInputText placeholder="Resultat"
                                                                       id="6" [(ngModel)]="quizEtudiantsElement.resultat" autofocus   >
                                                                
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="7">Question current</label>
                                                                <p-inputNumber class="mb-2 mr-2" id="questionCurrent" placeholder="Question current"  [(ngModel)]="quizEtudiantsElement.questionCurrent"></p-inputNumber>
                                                                
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addQuizEtudiants()"></button>
                                                </div>

                                            </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.quizEtudiants?.length > 0 ? '(' + item.quizEtudiants?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.quizEtudiants" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Ref</th>
                                                                        <th>Etudiant</th>
                                                                        <th>Note</th>
                                                                        <th>Resultat</th>
                                                                        <th>Question current</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                        <td>{{p.ref}}</td>
                                                                    <td>{{p.etudiant?.id}}</td>
                                                                        <td>{{p.note}}</td>
                                                                        <td>{{p.resultat}}</td>
                                                                        <td>{{p.questionCurrent}}</td>
                                                            <td>
                                                                <button (click)="deleteQuizEtudiants(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editQuizEtudiants(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>


                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
