
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'etudiantReview.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'etudiantReview.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'etudiantReview.etudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'etudiantReview.etudiant' | translate}}" autofocus  id="1" [ngModel]="item.etudiant?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'etudiantReview.prof' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'etudiantReview.prof' | translate}}" autofocus  id="2" [ngModel]="item.prof?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'etudiantReview.cours' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'etudiantReview.cours' | translate}}" autofocus  id="3" [ngModel]="item.cours?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'etudiantReview.review' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'etudiantReview.review' | translate}}" [ngModel]="item.review"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'etudiantReview.comment' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'etudiantReview.comment' | translate}}" autofocus  id="5" [ngModel]="item.comment">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'etudiantReview.dateReview' | translate}}</label>
                        <p-calendar id="6" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'etudiantReview.dateReview' | translate}}"  [ngModel]="item.dateReview" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



