<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'faq.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'faq.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'faq.description' | translate}}</label>
                        <textarea [(ngModel)]="item.description" cols="30" id="1" pInputTextarea
                                  placeholder="{{'faq.description' | translate}}" rows="5"
                        ></textarea>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'faq.libelle' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validFaqLibelle}" class="mb-2 mr-2" id="2"
                               pInputText placeholder="{{'faq.libelle' | translate}}"
                               type="text"/>
                        <small *ngIf='!validFaqLibelle' class='p-error'>Libelle est obligatoire.</small>
                    </div>


                    <div class="field col-11 md:col-6">
                        <label for="3">{{'faq.faqType' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.faqType" [filter]="true" [options]="faqTypes" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="3" optionLabel="libelle"
                                    placeholder="{{'faq.faqType' | translate}}">
                        </p-dropdown>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
