
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'etudiantClassRoom.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'etudiantClassRoom.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'etudiantClassRoom.classRoom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'etudiantClassRoom.classRoom' | translate}}" autofocus  id="1" [ngModel]="item.classRoom?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'etudiantClassRoom.etudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'etudiantClassRoom.etudiant' | translate}}" autofocus  id="2" [ngModel]="item.etudiant?.ref">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



