
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reclamationProf.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'reclamationProf.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'reclamationProf.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationProf.reference' | translate}}" autofocus  id="1" [ngModel]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'reclamationProf.dateReclamation' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reclamationProf.dateReclamation' | translate}}"  [ngModel]="item.dateReclamation" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'reclamationProf.message' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'reclamationProf.message' | translate}}"  [ngModel]="item.message"></textarea>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="4">{{'reclamationProf.traite' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="4"  [disabled]="true" [ngModel]="item.traite"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'reclamationProf.dateTraitement' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reclamationProf.dateTraitement' | translate}}"  [ngModel]="item.dateTraitement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'reclamationProf.dateReponse' | translate}}</label>
                        <p-calendar id="6" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reclamationProf.dateReponse' | translate}}"  [ngModel]="item.dateReponse" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="7">{{'reclamationProf.postView' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="7"  [disabled]="true" [ngModel]="item.postView"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'reclamationProf.commentaireTraiteur' | translate}}</label>
                        <textarea id="8" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'reclamationProf.commentaireTraiteur' | translate}}"  [ngModel]="item.commentaireTraiteur"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'reclamationProf.objetReclamationProf' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationProf.objetReclamationProf' | translate}}" autofocus  id="9" [ngModel]="item.objetReclamationProf">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'reclamationProf.admin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationProf.admin' | translate}}" autofocus  id="10" [ngModel]="item.admin?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'reclamationProf.prof' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationProf.prof' | translate}}" autofocus  id="11" [ngModel]="item.prof?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'reclamationProf.typeReclamationProf' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationProf.typeReclamationProf' | translate}}" autofocus  id="12" [ngModel]="item.typeReclamationProf?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



