        <mat-dialog-content class="mat-typography overflow-x-hidden" *transloco="let translate">
            <div class="w-full  items-center justify-center flex flex-col gap-4">

                <div class="w-full flex max-w-4xl  md:w-[70vw]  flex-col gap-4 items-center
                    justify-start content-center p-1 md:p-4 bg-gray-100 dark:bg-gray-600 rounded-md">
                                <div class="grid">

                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>word</mat-label>
                                                    <input required type="text" matInput autocomplete="off" placeholder="Word"  [(ngModel)]="item.word"  name="word">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>definition</mat-label>
                                                    <textarea required matInput autocomplete="off" placeholder="Definition" [(ngModel)]="item.definition"  name="definition"></textarea>
                                                </mat-form-field>


                                        <mat-form-field class="w-full">
                                            <mat-label>Etudiant</mat-label>
                                            <input type="text" matInput (input)="filterEtudiant(etudiantInput.value)" #etudiantInput [matAutocomplete]="etudiantAutocomplete"  [(ngModel)]="item.etudiant"  name="etudiant">

                                            <mat-autocomplete #etudiantAutocomplete="matAutocomplete" [displayWith]="displayEtudiant" >
                                              <mat-option *ngFor="let etudiant of _etudiantsFilter" [value]="etudiant">
                                                {{etudiant.id}}
                                              </mat-option>
                                            </mat-autocomplete>
                                            </mat-form-field>

                                                <div>
                                                  <mat-checkbox class="w-full"   [(ngModel)]="item.learned"  name="learned"  >
                                                    {{ item.learned? 'Checked' : 'Unchecked' }}
                                                  </mat-checkbox>
                                                </div>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>createdOn</mat-label>
                                                    <input required type="date" matInput placeholder="CreatedOn" [(ngModel)]="item.createdOn" name="createdOn">
                                                </mat-form-field>



                                </div>



                <div class="w-full flex flex-row-reverse gap-2">

                            <button mat-button color="primary"  (click)="save()">
                                 {{translate('validate')}}
                            </button>


                            <button mat-button   color="accent" class="p-button-outlined" (click)="hideCreateDialog()">
                                {{translate('cancel')}}
                            </button>


                </div>

    </div>

        </div>

    </mat-dialog-content>
