<mat-dialog-content class="mat-typography overflow-x-hidden">

    <div class="relative bg-white dark:bg-gray-800 w-full overflow-x-auto mt-6 border border-grayMain">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    unit price
                </th>

                <th scope="col" class="px-6 py-3">
                    group
                </th>
                <th scope="col" class="px-6 py-3">
                    course
                </th>

                <th scope="col" class="px-6 py-3">
                    Status
                </th>

                <th scope="col" class="px-6 py-3">
                    Date
                </th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of criteria?.content"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{item?.price}}$
                </th>

                <td class="px-6 py-4">
                    {{item?.group}}
                </td>
                <td class="px-6 py-4">
                    {{item?.course}}
                </td>


                <td class="px-6 py-4">
                            <span *ngIf="item?.courseFinished"
                                  class="bg-green-400 rounded-md p-1 text-green-800">FINISH</span>
                    <span *ngIf="!item?.courseFinished"
                          class="bg-orange-400 rounded-md p-1 text-orange-800">PENDING</span>
                </td>

                <td class="px-6 py-4">
                    {{item?.date | date: 'MM-dd-yyyy '}}
                </td>

            </tr>
            </tbody>
        </table>
        <!-- load more events -->
        <div class="w-full md:w-4/5 flex justify-center items-center my-5">
            <mat-paginator
                (page)="handle_pageable_change($event)"
                [length]="criteria?.totalElements"
                [pageSize]="criteria?.size"
                [pageSizeOptions]="[5,10,20]"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>

</mat-dialog-content>
