<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}"
          header="{{'vocabularyQuiz.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'vocabularyQuiz.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'vocabularyQuiz.libelle' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.libelle" autofocus class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'vocabularyQuiz.libelle' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'vocabularyQuiz.dateDebut' | translate}}</label>
                        <p-calendar [disabled]="true" [ngModel]="item.dateDebut" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="2"
                                    placeholder="{{'vocabularyQuiz.dateDebut' | translate}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'vocabularyQuiz.dateFin' | translate}}</label>
                        <p-calendar [disabled]="true" [ngModel]="item.dateFin" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="3"
                                    placeholder="{{'vocabularyQuiz.dateFin' | translate}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'vocabularyQuiz.section' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.section?.code" autofocus class="mb-2 mr-2"
                               id="5" pInputText placeholder="{{'vocabularyQuiz.section' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'vocabularyQuiz.vocabularys' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.vocabularys" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Ref</th>
                                        <th>Numero</th>
                                        <th>Word</th>
                                        <th>Libelle</th>
                                        <th>Result</th>
                                        <th>Explication</th>
                                        <th>Exemple</th>
                                        <th>Image</th>
                                        <th>Section</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.ref}}</td>
                                        <td>{{p.numero}}</td>
                                        <td>{{p.word}}</td>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.result}}</td>
                                        <td>{{p.explication}}</td>
                                        <td>{{p.exemple}}</td>
                                        <td>{{p.image}}</td>
                                        <td>{{p.section?.code}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



