<div
    class="inset-0 min-w-0 text-center overflow-auto print:overflow-visible"
    cdkScrollable>

    <!-- Main -->
    <div class="inline-block p-6 sm:p-10 text-left print:p-0">


        <!-- SUBSCRIPTION -->
        <div
            class="w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:rounded-none
             print:shadow-none print:bg-transparent">

            <div class="flex items-start justify-between">
                <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                    <div class="text-4xl tracking-tight text-secondary">INVOICE</div>
                    <div class="text-4xl">#{{ user?.id }}</div>

                    <div class="font-medium tracking-tight text-secondary">SUBSCRIPTION DATE</div>
                    <div
                        class="font-medium">{{ user?.inscriptions.at(0)?.datedebutinscription | date: 'MMM dd, yyyy' }}
                    </div>
                    <div class="font-medium tracking-tight text-secondary">TOTAL DUE</div>
                    <div
                        class="font-bold text-black dark:text-white">{{ total | toFixed: 2 | priceFormat: userCurrency | async }}
                        {{ (userCurrency === 'MAD') ? 'MAD' : 'USD' }}
                    </div>
                </div>
                <div class="grid auto-cols-max grid-flow-col gap-x-8 -mr-16
                 py-6 px-8 rounded-l-2xl bg-accent text-white  dark:bg-gray-600">
                    <div class="place-self-center w-24">
                        <img
                            class="w-24"
                            src="assets/images/logo/logo.svg">
                    </div>
                    <div class="pl-10 border-l text-md">
                        <div class="font-medium">EngFlexy Academy.</div>
                        <div>+212 654795800, +1 917 7750902</div>
                        <div>contact@engflexy.com</div>
                        <div>www.engflexy.com</div>
                    </div>
                </div>
            </div>

            <div class="text-md">
                <div class="text-xl font-medium">{{ user?.fullName }}</div>
                <div>{{ user?.username }}</div>
                <div>{{ user?.phone }}</div>
            </div>

            <div *ngIf="user?.inscriptions?.length > 0" class="grid grid-cols-12 gap-x-1 mt-12">
                <!-- Columns -->
                <div class="col-span-4 font-medium text-md text-secondary">INSCRIPTION</div>
                <div class="font-medium col-span-3 text-md text-right text-secondary">DATE</div>
                <div class="font-medium col-span-3 text-md text-right text-secondary">LEVEL</div>
                <div class="col-span-2 font-medium text-md text-right text-secondary">PRICE</div>

                <ng-container *ngFor="let item of user?.inscriptions">
                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>
                    <ng-container *ngIf="item?.etatInscription?.libelle === 'Pending'">
                        <div class="col-span-4 flex flex-row flex-wrap gap-2 items-center text-lg font-medium">
                            <mat-icon class="text-orange-500 icon-size-4"
                                      [matTooltip]="item?.etatInscription?.libelle"
                                      svgIcon="heroicons_solid:minus-circle"></mat-icon>
                            <span>FREE (3 courses)</span>
                        </div>
                        <div
                            class="self-center col-span-3 text-right">{{ item?.dateRegistration | date: 'MMM dd, yyyy' }}
                        </div>
                        <div class="self-center col-span-3 text-right">
                            {{ item?.parcours?.libelle }}
                        </div>
                        <div class="col-span-2 flex flex-row-reverse">
                            <a routerLink="/complete-registration/individual"
                               class="inline-flex cursor-pointer animate-pulse items-center gap-2 rounded border border-orange-600
                            bg-orange-600 px-4 py-2 text-white hover:bg-transparent
                            hover:text-orange-600 focus:outline-none focus:ring active:text-orange-500">
                                <span class="text-sm font-medium"> Upgrade </span>
                                <mat-icon class="icon-size-4 text-white"
                                          svgIcon="heroicons_solid:arrow-trending-up"></mat-icon>
                            </a>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="item?.etatInscription?.libelle === 'PAID'
                         || item?.etatInscription?.libelle === 'Validated'">
                        <!-- Item -->
                        <div class="col-span-4 flex flex-row flex-wrap gap-2 items-center text-lg font-medium">
                            <mat-icon class="text-green-500 icon-size-4"
                                      [matTooltip]="item?.etatInscription?.libelle"
                                      svgIcon="heroicons_solid:check-circle"></mat-icon>
                            <span>{{ item?.packStudent?.price?.lib }}
                                ({{ item?.packStudent?.price?.nreCourse }} courses)</span>
                        </div>
                        <div
                            class="self-center col-span-3 text-right">{{ item?.datedebutinscription | date: 'MMM dd, yyyy' }}
                        </div>
                        <div class="self-center col-span-3 text-right">{{ item?.parcours?.libelle }}</div>
                        <div class="col-span-2 self-center text-right">
                            {{ item?.packStudent?.price?.price  | toFixed: 2 | priceFormat: userCurrency | async }}
                            {{ (userCurrency === 'MAD') ? 'MAD' : 'USD' }}
                        </div>
                    </ng-container>

                </ng-container>


                <!-- Spacer -->
                <div class="col-span-12 mt-16"></div>
                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Total -->
                <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                <div
                    class="col-span-2 text-right text-2xl font-medium">{{ total | toFixed: 2 | priceFormat: userCurrency | async }}
                    {{ (userCurrency === 'MAD') ? 'MAD' : 'USD' }}
                </div>
            </div>
            <div class="flex flex-col justify-center mb-5 flex-wrap w-full p-2 items-center">
                <button routerLink="/complete-registration/individual"
                        mat-raised-button
                        class="flex flex-row animate-pulse  animate-bounce gap-2 items-center justify-center"
                        color="primary">
                    <span class="">SUBSCRIBE</span>
                    <mat-icon svgIcon="heroicons_outline:arrow-trending-up"></mat-icon>
                </button>
            </div>

            <div class="mt-16">
                <div class="flex items-center justify-center mt-4">
                    <img
                        class="flex-0 w-10 mt-2"
                        src="assets/images/logo/logo-text.svg">
                    <div class="ml-3 mt-3 text-sm text-secondary">
                        ©{{ current?.getFullYear() }}
                        <a href="https://engflexy.com/privacy-policy/">EngFlexy.LLC</a>, All Rights Reserved.
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
