<mat-dialog-content class="mat-typography overflow-x-hidden" *transloco="let translate">
    <div class="w-full  items-center justify-center flex flex-col gap-4">
        <div class="w-full">

            <div class="flex gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Collaborator</mat-label>
                    <input disabled type="text" matInput (ngModelChange)="calculatePrice()"  (input)="filterCollaborator(collaboratorInput.value)" #collaboratorInput [matAutocomplete]="collaboratorAutocomplete"  [(ngModel)]="item.collaborator"  name="collaborator">

                    <mat-autocomplete #collaboratorAutocomplete="matAutocomplete" [displayWith]="displayCollaborator" [compareWith]="compareObjects" >
                        <mat-option *ngFor="let collaborator of _collaboratorsFilter" [value]="collaborator.fullName">
                            {{collaborator.fullName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>



                <mat-form-field class="w-full">
                    <mat-label>Package</mat-label>
                    <input disabled type="text"  matInput (input)="filterPackageCollaborator(packageCollaboratorInput.value)" #packageCollaboratorInput [matAutocomplete]="packageCollaboratorAutocomplete"  [(ngModel)]="item.packageCollaborator"  name="packageCollaborator">

                    <mat-autocomplete #packageCollaboratorAutocomplete="matAutocomplete" [displayWith]="displayPackageCollaborator" [compareWith]="compareObjects" >
                        <mat-option *ngFor="let packageCollaborator of _packageCollaboratorsFilter" [value]="packageCollaborator">
                            {{packageCollaborator.libelle}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>Number of students</mat-label>
                    <mat-select [(ngModel)]="item.nbrStudent" (selectionChange)="calculatePrice()">
                        <mat-option *ngFor="let number of studentsForTeacher" [value]="number">
                            {{number}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
            <div class="flex gap-4">
                <div>
                    <mat-checkbox class="w-full" (ngModelChange)="calculatePrice()" [(ngModel)]="item.logo" name="logo">
                        {{ item.logo ? 'personal logo' : 'default logo' }}
                    </mat-checkbox>
                </div>


                <div>
                    <mat-checkbox class="w-full" (ngModelChange)="calculatePrice()" [(ngModel)]="item.color"
                                  name="color">
                        {{ item.color ? 'personal color' : 'default color' }}
                    </mat-checkbox>
                </div>


                <div>
                    <mat-checkbox class="w-full" (ngModelChange)="calculatePrice()" [(ngModel)]="item.bannerAd"
                                  name="bannerAd">
                        {{ item.bannerAd ? 'personal banner' : 'default banner' }}
                    </mat-checkbox>
                </div>

            </div>

            <div class="flex gap-4">
                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>Price</mat-label>
                    <input disabled required type="number" matInput placeholder="Price" [(ngModel)]="item.price"
                           name="price">
                </mat-form-field>
            </div>
            <div class="flex gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Start time</mat-label>
                    <input matInput [matDatepicker]="startDatePicker" (dateChange)="onStartDateChange()" [(ngModel)]="item.startDate" name="startDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>End time</mat-label>
                    <input disabled matInput [matDatepicker]="endTimePicker" [(ngModel)]="item.endDate" name="endDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="endTimePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endTimePicker></mat-datepicker>
                </mat-form-field>



                <mat-form-field class="w-full">
                    <mat-label>Inscription State</mat-label>
                    <input type="text" matInput
                           (input)="filterInscriptionCollaboratorState(inscriptionCollaboratorStateInput.value)"
                           #inscriptionCollaboratorStateInput
                           [matAutocomplete]="inscriptionCollaboratorStateAutocomplete"
                           [(ngModel)]="item.inscriptionCollaboratorState" name="inscriptionCollaboratorState">

                    <mat-autocomplete #inscriptionCollaboratorStateAutocomplete="matAutocomplete"
                                      [displayWith]="displayInscriptionCollaboratorState"
                                      [compareWith]="compareObjects">
                        <mat-option *ngFor="let inscriptionCollaboratorState of _inscriptionCollaboratorStatesFilter"
                                    [value]="inscriptionCollaboratorState">
                            {{ inscriptionCollaboratorState.libelle }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>

    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="refDialog.close(null)" mat-button>Cancel</button>
    <button class="px-6 ml-3" (click)="edit()" mat-flat-button [color]="'primary'"> Update</button>
</mat-dialog-actions>
