<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'contact.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'contact.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'contact.name' | translate}}</label>
                        <input [(ngModel)]="item.name" class="mb-2 mr-2" id="1" pInputText
                               placeholder="{{'contact.name' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'contact.email' | translate}}</label>
                        <input [(ngModel)]="item.email" class="mb-2 mr-2" id="2" pInputText
                               placeholder="{{'contact.email' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="3">{{'contact.phone' | translate}}</label>
                        <input [(ngModel)]="item.phone" class="mb-2 mr-2" id="3" pInputText
                               placeholder="{{'contact.phone' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="4">{{'contact.setFrom' | translate}}</label>
                        <input [(ngModel)]="item.setFrom" class="mb-2 mr-2" id="4" pInputText
                               placeholder="{{'contact.setFrom' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="5">{{'contact.dateContact' | translate}}</label>
                        <p-calendar [(ngModel)]="item.dateContact" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}" id="5"
                                    placeholder="{{'contact.dateContact' | translate}}">
                        </p-calendar>

                    </div>

                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="6">{{'contact.replied' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.replied" id="6"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="7">{{'contact.message' | translate}}</label>
                        <textarea [(ngModel)]="item.message" cols="30" id="7" pInputTextarea
                                  placeholder="{{'contact.message' | translate}}" rows="5"
                        ></textarea>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
