<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}" header="{{'groupeType.tabPan' | translate}}"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'groupeType.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'groupeType.code' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.code" autofocus class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'groupeType.code' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'groupeType.libelle' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.libelle" autofocus class="mb-2 mr-2"
                               id="2" pInputText placeholder="{{'groupeType.libelle' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



