<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}" header="{{'prof.tabPan' | translate}}"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'prof.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'prof.ref' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.ref" autofocus class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'prof.ref' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'prof.about' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.about" autofocus class="mb-2 mr-2"
                               id="2" pInputText placeholder="{{'prof.about' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'prof.parcours' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.parcours?.libelle" autofocus class="mb-2 mr-2"
                               id="3" pInputText placeholder="{{'prof.parcours' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'prof.categorieProf' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.categorieProf?.code" autofocus class="mb-2 mr-2"
                               id="5" pInputText placeholder="{{'prof.categorieProf' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'prof.typeTeacher' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.typeTeacher?.libelle" autofocus class="mb-2 mr-2"
                               id="8" pInputText placeholder="{{'prof.typeTeacher' | translate}}"
                               type="text">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="9">{{'prof.credentialsNonExpired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.credentialsNonExpired"
                                           id="9"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="10">{{'prof.enabled' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.enabled" id="10"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="11">{{'prof.accountNonExpired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.accountNonExpired" id="11"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="12">{{'prof.accountNonLocked' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.accountNonLocked" id="12"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="13">{{'prof.passwordChanged' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.passwordChanged" id="13"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="14">{{'prof.username' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.username" autofocus class="mb-2 mr-2"
                               id="14" pInputText placeholder="{{'prof.username' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="15">{{'prof.password' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.password" autofocus class="mb-2 mr-2"
                               id="15" pInputText placeholder="{{'prof.password' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'prof.trancheHoraireProfs' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.trancheHoraireProfs" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Start hour</th>
                                        <th>End hour</th>
                                        <th>Day</th>
                                        <th>Group index</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.startHour}}</td>
                                        <td>{{p.endHour}}</td>
                                        <td>{{p.day}}</td>
                                        <td>{{p.groupIndex}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'prof.classRooms' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.classRooms" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Code</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.code}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'prof.recommendTeachers' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.recommendTeachers" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Ref</th>
                                        <th>Nombrevote</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Commentaire</th>
                                        <th>Telephone</th>
                                        <th>Login</th>
                                        <th>Date recommamdation</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.ref}}</td>
                                        <td>{{p.nombrevote}}</td>
                                        <td>{{p.nom}}</td>
                                        <td>{{p.prenom}}</td>
                                        <td>{{p.commentaire}}</td>
                                        <td>{{p.telephone}}</td>
                                        <td>{{p.login}}</td>
                                        <td>{{p.dateRecommamdation | date: dateFormatColumn}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



