<div class="w-full overflow-y-auto flex  items-center content-center justify-center">
    <div class="w-full bg-white dark:bg-gray-700 shadow-md max-w-5xl h-auto min-h-screen">
        <header class="bg-gray-50 dark:bg-gray-600 w-full">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <div class="text-center sm:text-left">
                        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                            Manage your users👨‍💼
                        </h1>
                    </div>

                </div>
            </div>
        </header>

        <mat-tab-group>
            <mat-tab label="Students">
                <app-students></app-students>
            </mat-tab>
            <mat-tab label="Teachers">
                <app-teachers></app-teachers>
            </mat-tab>
            <mat-tab label="Administrators">
                <app-admins></app-admins>
            </mat-tab>
            <mat-tab label="Collaborators">
                <app-collaborators></app-collaborators>
            </mat-tab>
        </mat-tab-group>


    </div>
</div>

