<div class="w-full overflow-y-auto flex  items-center content-center justify-center">
    <div class="w-full bg-white dark:bg-gray-700 shadow-md max-w-5xl h-auto min-h-screen">
        <header class="bg-gray-50 dark:bg-gray-600 w-full">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <div class="text-center sm:text-left">
                        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                            Frequently Asked Questions
                        </h1>
                    </div>

                    <button mat-button (click)="create()"
                            mat-stroked-button color="primary">create new question
                    </button>
                </div>
            </div>
        </header>

        <section class="container mx-auto">
            <div class="flex flex-col flex-auto min-w-0">

                <!-- Main -->
                <div class="flex flex-col items-center p-6">
                    <div class="flex flex-col w-full max-w-4xl">
                        <ng-container *ngFor="let faqCategory of faqCategories; trackBy: trackByFn">
                            <div
                                class="mt-6 sm:mt-8 text-3xl font-bold leading-tight tracking-tight">{{ faqCategory.title }}
                            </div>
                            <div  class="mt-6 sm:mt-8 text-3xl font-bold leading-tight tracking-tight">{{ faqCategory.libelle }}
                            </div>

                            <mat-accordion class="max-w-4xl mt-8">
                                <ng-container *ngFor="let faq of faqCategory.faqs; trackBy: trackByFn">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                            <mat-panel-title class="font-medium leading-tight">{{ faq.question }}
                                                <div class="w-full  flex flex-row-reverse">
                                                    <mat-icon  class="text-hint icon-size-4 cursor-pointer"
                                                               (click)="delete(faq)"
                                                               svgIcon="heroicons_solid:trash"></mat-icon>
                                                </div>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div [matTooltip]="'click to edit'" (click)="openEdit(faq)"  class="cursor-pointer">
                                            {{ faq.answer }}
                                        </div>
                                    </mat-expansion-panel>
                                </ng-container>
                            </mat-accordion>
                        </ng-container>
                    </div>
                </div>

            </div>

        </section>

    </div>
</div>
