<div class="w-full">
    <!-- Card #24 -->
    <fuse-card class="flex flex-col w-full px-8 pt-6 pb-4 filter-list">
        <div class="flex  items-center gap-2 justify-between">

            <div (click)="createNew()" class="text-xl cursor-pointer border-dotted border-2 flex items-center
            p-5 bg-gray-100 dark:bg-gray-600
            rounded-sm content-center flex-grow gap-3 font-semibold leading-tight">
                <div class="w-full  group items-center justify-center flex text-hint">
                    <span>create new teacher</span>
                    <mat-icon class="mr-2 text-hint" svgIcon="heroicons_mini:plus"></mat-icon>
                </div>
            </div>

            <div class="-mr-3">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="listCard02Menu">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:ellipsis-vertical'"></mat-icon>
                </button>
                <mat-menu #listCard02Menu="matMenu">
                    <button mat-menu-item>Search for groups</button>
                </mat-menu>
            </div>
        </div>

        <ng-container *ngIf="!items?.empty">

            <app-divider class="my-6" color="white" text=" "></app-divider>


            <div class=" min-w-full py-2 align-middle md:px-6 lg:px-8
                      flex flex-row justify-center items-center gap-4">
                <mat-form-field
                    class="flex-auto fuse-mat-dense flex-grow">
                    <input placeholder="search.." matInput [(ngModel)]="criteria.fullName">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                </mat-form-field>


                <button mat-icon-button class="mb-5" color="primary" (click)="findPaginatedByCriteria()">
                    <mat-icon svgIcon="heroicons_outline:magnifying-glass"></mat-icon>
                </button>
            </div>

            <div class="flex gap-4 flex-col mt-5">
                <ng-container *ngFor="let item of items?.content">
                    <div class="flex cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600 p-2 items-center">
                        <ng-container *ngIf="item?.avatar else noImg">
                            <img
                                class="w-14 h-14 mr-4 rounded-none object-cover"
                                src="{{item?.avatar}}"
                                width="56"
                                height="56"
                                alt="Card cover image">
                        </ng-container>
                        <ng-template #noImg>
                            <div
                                class="w-14 h-14 mr-4 uppercase bg-gray-200 dark:bg-gray-600 flex items-center justify-center text-hint text-2xl">
                                <span>{{ item?.email?.at(0) }}</span>
                            </div>
                        </ng-template>


                        <div (click)="navigateToDetail(item)" class="flex flex-grow flex-col min-w-0">
                            <div class="font-medium leading-none">
                                {{ item?.fullName }}
                            </div>

                            <div class="text-md truncate leading-none mt-1">
                                <mat-icon class="text-secondary icon-size-3.5"
                                          svgIcon="heroicons_solid:envelope"></mat-icon>
                                {{ item?.email }}
                            </div>

                            <div class="text-md flex flex-row items-center leading-none text-secondary mt-2">

                                <div
                                    [class.bg-orange-200]="!item?.enabled"
                                    [class.bg-green-200]="item?.enabled"
                                    class="flex  px-2 rounded-full font-bold flex-row items-center gap-1">
                                    <mat-icon class=" icon-size-4"
                                              [class.text-orange-500]="!item?.enabled"
                                              [class.text-green-500]="item?.enabled"
                                              [matTooltip]="item?.enabled ? 'activated':'locked'"
                                              matTooltipPosition="above"
                                              [svgIcon]="item?.enabled ? 'mat_outline:check_circle':'mat_outline:block'"
                                    ></mat-icon>
                                </div>

                            </div>
                        </div>

                        <div class="flex flex-row flex-wrap gap-2">
                            <button
                                (click)="navigateToDetail(item)"
                                mat-icon-button color="primary">
                                <mat-icon class="icon-size-4"
                                          svgIcon="heroicons_mini:arrow-uturn-right"></mat-icon>
                            </button>

                            <button (click)="delete(item)" mat-icon-button color="warn">
                                <mat-icon class="icon-size-4" svgIcon="heroicons_solid:trash"></mat-icon>
                            </button>

                        </div>
                    </div>

                </ng-container>
            </div>

            <!-- load more events -->
            <div class="w-full  flex justify-center items-center my-5">
                <mat-paginator
                    (page)="handle_pageable_change($event)"
                    [length]="items?.totalElements"
                    [pageSize]="items?.size"
                    [pageSizeOptions]="[5,10,25]"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </ng-container>
    </fuse-card>

</div>
