<p-dialog [(visible)]="createDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'admin.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'admin.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'admin.description' | translate}}</label>
                        <input [(ngModel)]="item.description" class="mb-2 mr-2" id="1"
                               pInputText placeholder="{{'admin.description' | translate}}" type="text"
                        />

                    </div>


                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="2">{{'admin.credentialsNonExpired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.credentialsNonExpired" id="2"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="3">{{'admin.enabled' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.enabled" id="3"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="4">{{'admin.accountNonExpired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.accountNonExpired" id="4"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="5">{{'admin.accountNonLocked' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.accountNonLocked" id="5"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="6">{{'admin.passwordChanged' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.passwordChanged" id="6"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="7">{{'admin.username' | translate}}</label>
                        <input [(ngModel)]="item.username" class="mb-2 mr-2" id="7" pInputText
                               placeholder="{{'admin.username' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="8">{{'admin.password' | translate}}</label>
                        <input [(ngModel)]="item.password" class="mb-2 mr-2" id="8" pInputText
                               placeholder="{{'admin.password' | translate}}" type="text"
                        />

                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="save()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideCreateDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
