
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'contact.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'contact.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'contact.name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'contact.name' | translate}}" autofocus  id="1" [ngModel]="item.name">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'contact.email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'contact.email' | translate}}" autofocus  id="2" [ngModel]="item.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'contact.phone' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'contact.phone' | translate}}" autofocus  id="3" [ngModel]="item.phone">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'contact.setFrom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'contact.setFrom' | translate}}" autofocus  id="4" [ngModel]="item.setFrom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'contact.dateContact' | translate}}</label>
                        <p-calendar id="5" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'contact.dateContact' | translate}}"  [ngModel]="item.dateContact" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="6">{{'contact.replied' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="6"  [disabled]="true" [ngModel]="item.replied"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'contact.message' | translate}}</label>
                        <textarea id="7" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'contact.message' | translate}}"  [ngModel]="item.message"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'contact.collaborator' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'contact.collaborator' | translate}}" autofocus  id="8" [ngModel]="item.collaborator?.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



