<div class="w-full overflow-y-auto flex  items-center content-center justify-center">
    <div class="w-full bg-white dark:bg-gray-700 shadow-md max-w-5xl h-auto min-h-screen">
        <header class="bg-gray-50 dark:bg-gray-600 w-full">
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <div class="text-center sm:text-left">
                        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                            Take control of your productivity
                        </h1>
                    </div>
                   <!-- <button mat-button (click)="create()"
                            mat-stroked-button color="primary">create new inscription
                    </button>-->
                </div>
            </div>
        </header>

        <div class="sm:hidden relative w-11/12 mx-auto bg-white dark:bg-gray-700 rounded">
            <div class="absolute inset-0 m-auto mr-4 z-0 w-6 h-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A0AEC0" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>
                    <polyline points="8 9 12 5 16 9"/>
                    <polyline points="16 15 12 19 8 15"/>
                </svg>
            </div>
            <select aria-label="Selected tab"
                    class="form-select block w-full p-3 border border-gray-300 rounded text-gray-600 appearance-none bg-transparent relative z-10">
                <option class="text-sm text-gray-600">inactive</option>
                <option class="text-sm text-gray-600">inactive</option>
                <option selected class="text-sm text-gray-600">Active</option>
            </select>
        </div>
        <div class="xl:w-full xl:mx-0 h-12 hidden sm:block bg-white dark:bg-gray-700 shadow rounded">
            <ul class="flex px-5">
                <li (click)="changeType(1)"
                    [ngClass]="active_status == 1 ? 'text-sm border-primary-700 pt-3 rounded-t text-primary mr-12' : 'text-sm text-accent-600 py-3 flex items-center mr-12 hover:text-primary-700 cursor-pointer'">
                    <div class="flex items-center mb-3">
                        <span>
                            <mat-icon [color]="active_status === 1 ? 'primary':'accent'" class="icon-size-4"
                                      svgIcon="heroicons_solid:user-group"></mat-icon>
                        </span>
                        <span class="ml-1 text-lg ubuntu-medium">School</span>
                    </div>
                    <div *ngIf="active_status == 1" class="w-full h-1 bg-primary-700 rounded-t-md"></div>
                </li>
                <li (click)="changeType(3)"
                    [ngClass]="active_status == 3 ? 'text-sm border-primary-700 pt-3 rounded-t text-primary mr-12' : 'text-sm text-accent-600 py-3 flex items-center mr-12 hover:text-primary-700 cursor-pointer'">
                    <div class="flex items-center mb-3">
                        <span>
                            <mat-icon [color]="active_status === 3 ? 'primary':'accent'" class="icon-size-4"
                                      svgIcon="heroicons_solid:cog-6-tooth"></mat-icon>
                        </span>
                        <span class="ml-1 text-lg ubuntu-medium">Config School</span>
                    </div>
                    <div *ngIf="active_status == 3" class="w-full h-1 bg-primary-700 rounded-t-md"></div>
                </li>
                <li (click)="changeType(2)"
                    [ngClass]="active_status == 2 ? 'text-sm border-primary-700 pt-3 rounded-t text-primary mr-12' : 'text-sm text-accent-600 py-3 flex items-center mr-12 hover:text-primary-700 cursor-pointer'">
                    <div class="flex items-center mb-3">
                        <span>
                            <mat-icon [color]="active_status === 2 ? 'primary':'accent'" class="icon-size-4"
                                      svgIcon="heroicons_solid:user"></mat-icon>
                        </span>
                        <span class="ml-1 text-lg ubuntu-medium">Teacher</span>
                    </div>
                    <div *ngIf="active_status == 2" class="w-full h-1 bg-primary-700 rounded-t-md"></div>
                </li>

                <li (click)="changeType(4)"
                    [ngClass]="active_status == 4 ? 'text-sm border-primary-700 pt-3 rounded-t text-primary mr-12' : 'text-sm text-accent-600 py-3 flex items-center mr-12 hover:text-primary-700 cursor-pointer'">
                    <div class="flex items-center mb-3">
                        <span>
                            <mat-icon [color]="active_status === 4 ? 'primary':'accent'" class="icon-size-4"
                                      svgIcon="heroicons_solid:cog-6-tooth"></mat-icon>
                        </span>
                        <span class="ml-1 text-lg ubuntu-medium">Config Teacher</span>
                    </div>
                    <div *ngIf="active_status == 4" class="w-full h-1 bg-primary-700 rounded-t-md"></div>
                </li>

            </ul>
        </div>


        <section class="container px-4 mx-auto">

            <div class="flex flex-col mt-6">
                <div class=" overflow-x-auto">
                    <ng-container *ngIf="active_status===1 || active_status===2">
                        <div class=" min-w-full py-2 align-middle md:px-6 lg:px-8
                      flex flex-row justify-center items-center gap-4">
                            <mat-form-field
                                class="flex-auto fuse-mat-dense flex-grow">
                                <input placeholder="search.." matInput>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                            </mat-form-field>
                            <button (click)="openFilter()" mat-mini-fab class="mb-5" color="primary">
                                <mat-icon svgIcon="heroicons_solid:funnel"></mat-icon>
                            </button>

                        </div>

                        <div class="inline-block min-w-full  align-middle md:px-6 lg:px-8">
                            <div (click)="createInscription()" class="text-xl cursor-pointer border-dotted border-2 flex items-center
            p-5 bg-gray-100 dark:bg-gray-600
            rounded-sm content-center flex-grow gap-3 font-semibold leading-tight">
                                <div class="w-full  group items-center justify-center flex text-hint">
                                    <span>create new inscription</span>
                                    <mat-icon class="mr-2 text-hint" svgIcon="heroicons_mini:plus"></mat-icon>
                                </div>
                            </div>
                            <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">

                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-gray-800">
                                    <tr>
                                        <th scope="col"
                                            class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            <div class="flex items-center gap-x-3">
                                                <input type="checkbox"
                                                       class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                                <span>Name</span>
                                            </div>
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            N° students
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            Price
                                        </th>


                                        <th scope="col"
                                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            State
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            Start Date
                                        </th>
                                        <th scope="col"
                                            class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            End Date
                                        </th>
                                        <th scope="col" class="relative py-3.5 px-4">
                                            <span class="sr-only">Edit</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody
                                        class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                    <ng-container *ngFor="let item of pageable.list">
                                        <tr>
                                            <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                                <div class="inline-flex items-center gap-x-3">
                                                    <input type="checkbox"
                                                           class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                                    <div class="flex items-center gap-x-2">
                                                        <div
                                                            class="object-cover flex items-center justify-center
                                                             uppercase bg-gray-100 text-center dark:bg-gray-600 w-10 h-10
                                                              rounded-full">
                                                            <strong>{{ item?.collaborator?.fullName.at(0) }}</strong>
                                                        </div>

                                                        <div>
                                                            <h2 class="text-gray-800 font-bold dark:text-white ">
                                                                {{ item?.collaborator?.username }}
                                                                <!-- email-->
                                                            </h2>
                                                            <p>
                                                                {{ item?.collaborator?.fullName }}
                                                                <!-- username-->
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                                {{ item?.nbrStudent }}

                                            </td>
                                            <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                                {{ item?.price }}
                                            </td>

                                            <td class="py-4 text-sm font-medium text-gray-700 whitespace-nowrap">

                                                <div class="inline-flex items-center px-3 py-1 rounded-full gap-x-2
                                            container-{{item?.inscriptionCollaboratorState?.libelle.toLowerCase()}} dark:bg-gray-800">
                                                <span
                                                    class="h-1.5 w-1.5 rounded-full type-{{item?.inscriptionCollaboratorState?.libelle}}"></span>

                                                    <h2 class="text-sm font-normal text-{{item?.inscriptionCollaboratorState?.libelle?.toLowerCase()}}">{{ item?.inscriptionCollaboratorState?.libelle }}</h2>
                                                </div>

                                            </td>
                                            <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                                {{ item?.startDate|date:'dd-MM-yyyy' }}
                                            </td>
                                            <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                                {{ item?.endDate|date:'dd-MM-yyyy' }}
                                            </td>

                                            <td class="px-4 py-4 text-sm whitespace-nowrap">
                                                <div class="flex items-center gap-x-6">
                                                    <button (click)="delete(item)" class="group">
                                                        <mat-icon class="icon-size-4 group-hover:text-red-500"
                                                                  svgIcon="heroicons_solid:trash"></mat-icon>
                                                    </button>

                                                    <button (click)="edit(item)" class="group">
                                                        <mat-icon class="icon-size-4 group-hover:text-orange-500"
                                                                  svgIcon="heroicons_solid:pencil"></mat-icon>
                                                    </button>

                                                    <button (click)="openDetail(item)" class="group">
                                                        <mat-icon class="icon-size-4 group-hover:text-blue-500"
                                                                  svgIcon="heroicons_outline:bars-3"></mat-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>


                                    </tbody>
                                </table>

                                <!-- load more events -->
                                <div class="w-full  flex justify-center items-center my-5">
                                    <mat-paginator
                                        (page)="handle_pageable_change($event)"
                                        [length]="items?.totalElements"
                                        [pageSize]="items?.size"
                                        [pageSizeOptions]="[5,10,25]"
                                        aria-label="Select page">
                                    </mat-paginator>
                                </div>


                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="active_status==3 || active_status==4">
                        <div (click)="createPack()" class="text-xl cursor-pointer border-dotted border-2 flex items-center
            p-5 bg-gray-100 dark:bg-gray-600
            rounded-sm content-center flex-grow gap-3 font-semibold leading-tight">
                            <div class="w-full  group items-center justify-center flex text-hint">
                                <span>create new pack</span>
                                <mat-icon class="mr-2 text-hint" svgIcon="heroicons_mini:plus"></mat-icon>
                            </div>
                        </div>


                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                            <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col"
                                    class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <input type="checkbox"
                                               class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                        <span>Name</span>
                                    </div>
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Price Base
                                </th>


                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Price Banner Ad
                                </th>

                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Price Banner Color
                                </th>
                                <th scope="col"
                                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Price Banner Logo
                                </th>
                                <th scope="col" class="relative py-3.5 px-4">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody
                                class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            <ng-container *ngFor="let item of pageablePack.list">
                                <tr>
                                    <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                        <div class="inline-flex items-center gap-x-3">
                                            <input type="checkbox"
                                                   class="text-blue-500 border-gray-300 rounded dark:bg-gray-900 dark:ring-offset-gray-900 dark:border-gray-700">
                                            <div class="flex items-center gap-x-2">
                                                <div
                                                    class="object-cover flex items-center justify-center
                                                             uppercase bg-gray-100 text-center dark:bg-gray-600 w-10 h-10
                                                              rounded-full">
                                                    <strong>{{ item?.libelle.at(0) }}</strong>
                                                </div>

                                                <div>
                                                    <h2 class="font-bold text-gray-800 dark:text-white ">
                                                        {{ item?.libelle }}
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-12 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                        {{ item?.priceBase }}

                                    </td>


                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                        {{ item?.priceBannerAd }}
                                    </td>

                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                        {{ item?.priceColor }}
                                    </td>

                                    <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
                                        {{ item?.priceLogo }}
                                    </td>

                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <div class="flex items-center gap-x-6">
                                            <button (click)="deletePack(item)" class="group">
                                                <mat-icon class="icon-size-4 group-hover:text-red-500"
                                                          svgIcon="heroicons_solid:trash"></mat-icon>
                                            </button>
                                            <button (click)="editPack(item)" class="group">
                                                <mat-icon class="icon-size-4 group-hover:text-orange-500"
                                                          svgIcon="heroicons_solid:pencil"></mat-icon>
                                            </button>

                                            <button (click)="openDetailPack(item)" class="group">
                                                <mat-icon class="icon-size-4 group-hover:text-blue-500"
                                                          svgIcon="heroicons_outline:bars-3"></mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>


                            </tbody>
                        </table>
                    </ng-container>

                </div>

            </div>
        </section>

    </div>
</div>


