<div class="flex w-full flex-column gap-4 flex-wrap">
    <div class="w-full shadow-1  bg-white">
        <ul class="surface-card p-2 m-0 list-none flex overflow-x-auto select-none">
            <li class="mr-2">
                <a class="p-ripple bg-primary p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-home mr-2"></i>
                    <span class="font-medium">Packs</span>
                    <span class="p-ink"></span>
                </a>
            </li>

            <li class="mr-2">
                <a class="p-ripple  p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-credit-card mr-2"></i>
                    <span class="font-medium">Prices</span>
                    <span class="p-ink"></span>
                </a>
            </li>

            <li class="mr-2">
                <a class="p-ripple  p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-briefcase mr-2"></i>
                    <span class="font-medium">Online classes</span>
                    <span class="p-ink"></span>
                </a>
            </li>

            <li class="mr-2">
                <a class="p-ripple  p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-dollar mr-2"></i>
                    <span class="font-medium">Manage coupons</span>
                    <span class="p-ink"></span>
                </a>
            </li>

            <li class="mr-2">
                <a class="p-ripple  p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-plus mr-2"></i>
                    <span class="font-medium">Manage bonus</span>
                    <span class="p-ink"></span>
                </a>
            </li>


        </ul>
    </div>
    <div class="w-full ">
        <app-pack-student-list-admin></app-pack-student-list-admin>
    </div>
</div>


