<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Cours')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'cours.code' | translate}}</label>
                            <input [(ngModel)]="criteria.codeLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2">{{'cours.libelle' | translate}}</label>
                            <input [(ngModel)]="criteria.libelleLike" class="w-full" id="2" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'cours.image' | translate}}</label>
                            <input [(ngModel)]="criteria.imageLike" class="w-full" id="4" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="5-2">{{'cours.etatCours' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.etatCours" [filter]="true" [options]="etatCourss" [showClear]="true"
                                        class="p-fluid"
                                        id="5" optionLabel="libelle"
                                        placeholder="{{'cours.etatCours' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="6-2">{{'cours.parcours' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.parcours" [filter]="true" [options]="parcourss" [showClear]="true"
                                        class="p-fluid"
                                        id="6" optionLabel="libelle"
                                        placeholder="{{'cours.parcours' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="7-1">{{'cours.nombreSectionFinaliseMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreSectionFinaliseMin" id="7-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="7-2">{{'cours.nombreSectionFinaliseMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreSectionFinaliseMax" id="7-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="8-1">{{'cours.nombreSectionEnCoursMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreSectionEnCoursMin" id="8-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="8-2">{{'cours.nombreSectionEnCoursMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreSectionEnCoursMax" id="8-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="9-1">{{'cours.nombreLinkEnCoursMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreLinkEnCoursMin" id="9-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="9-2">{{'cours.nombreLinkEnCoursMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreLinkEnCoursMax" id="9-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-1">{{'cours.nombreLinkFinaliseMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreLinkFinaliseMin" id="10-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-2">{{'cours.nombreLinkFinaliseMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.nombreLinkFinaliseMax" id="10-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="11-1">{{'cours.numeroOrderMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroOrderMin" id="11-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="11-2">{{'cours.numeroOrderMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroOrderMax" id="11-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['code', 'libelle', 'image', 'etatCourslibelle', 'parcourslibelle', 'nombreSectionFinalise', 'nombreSectionEnCours', 'nombreLinkEnCours', 'nombreLinkFinalise', 'numeroOrder']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'cours.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.code"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.libelle"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="image">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.image' | translate}}</span>
                                <p-sortIcon field="image"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.image"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="etatCours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.etatCours' | translate}}</span>
                                <p-sortIcon field="etatCours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="parcours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.parcours' | translate}}</span>
                                <p-sortIcon field="parcours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="nombreSectionFinalise">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.nombreSectionFinalise' | translate}}</span>
                                <p-sortIcon field="nombreSectionFinalise"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="nombreSectionEnCours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.nombreSectionEnCours' | translate}}</span>
                                <p-sortIcon field="nombreSectionEnCours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="nombreLinkEnCours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.nombreLinkEnCours' | translate}}</span>
                                <p-sortIcon field="nombreLinkEnCours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="nombreLinkFinalise">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'cours.nombreLinkFinalise' | translate}}</span>
                                <p-sortIcon field="nombreLinkFinalise"></p-sortIcon>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="numeroOrder">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'cours.numeroOrder' | translate}}</span>
                        <p-sortIcon field="numeroOrder"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.code}}</td>


                        <td>{{element.libelle}}</td>


                        <td>{{element.image}}</td>


                        <td>{{element.etatCours?.libelle}}</td>


                        <td>{{element.parcours?.libelle}}</td>


                        <td>{{element.nombreSectionFinalise}}</td>


                        <td>{{element.nombreSectionEnCours}}</td>


                        <td>{{element.nombreLinkEnCours}}</td>


                        <td>{{element.nombreLinkFinalise}}</td>

                        <!--
                   <td>{{element.numeroOrder}}</td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'cours' : 'courss' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-cours-create-admin *ngIf="createDialog  && createActionIsValid"></app-cours-create-admin>
        <app-cours-edit-admin *ngIf="editDialog  && editActionIsValid"></app-cours-edit-admin>
        <app-cours-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-cours-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
