<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Vocabulary')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'vocabulary.ref' | translate}}</label>
                            <input [(ngModel)]="criteria.refLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2-1">{{'vocabulary.numeroMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroMin" id="2-1" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2-2">{{'vocabulary.numeroMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroMax" id="2-2" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3">{{'vocabulary.word' | translate}}</label>
                            <input [(ngModel)]="criteria.wordLike" class="w-full" id="3" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'vocabulary.libelle' | translate}}</label>
                            <input [(ngModel)]="criteria.libelleLike" class="w-full" id="4" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="5">{{'vocabulary.result' | translate}}</label>
                            <input [(ngModel)]="criteria.resultLike" class="w-full" id="5" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="6">{{'vocabulary.explication' | translate}}</label>
                            <input [(ngModel)]="criteria.explicationLike" class="w-full" id="6" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="7">{{'vocabulary.exemple' | translate}}</label>
                            <input [(ngModel)]="criteria.exempleLike" class="w-full" id="7" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="8">{{'vocabulary.image' | translate}}</label>
                            <input [(ngModel)]="criteria.imageLike" class="w-full" id="8" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="9-2">{{'vocabulary.section' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.section" [filter]="true" [options]="sections" [showClear]="true"
                                        class="p-fluid"
                                        id="9" optionLabel="code"
                                        placeholder="{{'vocabulary.section' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-2">{{'vocabulary.vocabularyQuiz' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.vocabularyQuiz" [filter]="true" [options]="vocabularyQuizs"
                                        [showClear]="true" class="p-fluid"
                                        id="10" optionLabel="libelle"
                                        placeholder="{{'vocabulary.vocabularyQuiz' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['ref', 'numero', 'word', 'libelle', 'result', 'explication', 'exemple', 'image', 'sectioncode', 'vocabularyQuizlibelle']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'vocabulary.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="ref">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.ref' | translate}}</span>
                                <p-sortIcon field="ref"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.ref"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="numero">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.numero' | translate}}</span>
                                <p-sortIcon field="numero"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="word">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.word' | translate}}</span>
                                <p-sortIcon field="word"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.word"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.libelle"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="result">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.result' | translate}}</span>
                                <p-sortIcon field="result"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.result"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="explication">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.explication' | translate}}</span>
                                <p-sortIcon field="explication"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.explication"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="exemple">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.exemple' | translate}}</span>
                                <p-sortIcon field="exemple"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.exemple"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="image">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.image' | translate}}</span>
                                <p-sortIcon field="image"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.image"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="section">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'vocabulary.section' | translate}}</span>
                                <p-sortIcon field="section"></p-sortIcon>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="vocabularyQuiz">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'vocabulary.vocabularyQuiz' | translate}}</span>
                        <p-sortIcon field="vocabularyQuiz"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.ref}}</td>


                        <td>{{element.numero}}</td>


                        <td>{{element.word}}</td>


                        <td>{{element.libelle}}</td>


                        <td>{{element.result}}</td>


                        <td>{{element.explication}}</td>


                        <td>{{element.exemple}}</td>


                        <td>{{element.image}}</td>


                        <td>{{element.section?.code}}</td>

                        <!--
                   <td>{{element.vocabularyQuiz?.libelle}}</td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'vocabulary' : 'vocabularys' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-vocabulary-create-admin *ngIf="createDialog  && createActionIsValid"></app-vocabulary-create-admin>
        <app-vocabulary-edit-admin *ngIf="editDialog  && editActionIsValid"></app-vocabulary-edit-admin>
        <app-vocabulary-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-vocabulary-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
