<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Section')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'section.code' | translate}}</label>
                            <input [(ngModel)]="criteria.codeLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2">{{'section.libelle' | translate}}</label>
                            <input [(ngModel)]="criteria.libelleLike" class="w-full" id="2" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3">{{'section.urlImage' | translate}}</label>
                            <input [(ngModel)]="criteria.urlImageLike" class="w-full" id="3" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'section.urlImage2' | translate}}</label>
                            <input [(ngModel)]="criteria.urlImage2Like" class="w-full" id="4" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="5">{{'section.urlImage3' | translate}}</label>
                            <input [(ngModel)]="criteria.urlImage3Like" class="w-full" id="5" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="6">{{'section.urlVideo' | translate}}</label>
                            <input [(ngModel)]="criteria.urlVideoLike" class="w-full" id="6" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="7">{{'section.contenu' | translate}}</label>
                            <input [(ngModel)]="criteria.contenuLike" class="w-full" id="7" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="8">{{'section.questions' | translate}}</label>
                            <input [(ngModel)]="criteria.questionsLike" class="w-full" id="8" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="9">{{'section.indicationProf' | translate}}</label>
                            <input [(ngModel)]="criteria.indicationProfLike" class="w-full" id="9" pInputText
                                   type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-1">{{'section.numeroOrderMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroOrderMin" id="10-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-2">{{'section.numeroOrderMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroOrderMax" id="10-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="11-2">{{'section.categorieSection' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.categorieSection" [filter]="true" [options]="categorieSections"
                                        [showClear]="true" class="p-fluid"
                                        id="11" optionLabel="code"
                                        placeholder="{{'section.categorieSection' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="12-2">{{'section.cours' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.cours" [filter]="true" [options]="courss" [showClear]="true"
                                        class="p-fluid"
                                        id="12" optionLabel="libelle"
                                        placeholder="{{'section.cours' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="13-1">{{'section.urlMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.urlMin" id="13-1" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="13-2">{{'section.urlMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.urlMax" id="13-2" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="14-1">{{'section.contentMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.contentMin" id="14-1" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="14-2">{{'section.contentMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.contentMax" id="14-2" mode="decimal"></p-inputNumber>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['code', 'libelle', 'urlImage', 'urlImage2', 'urlImage3', 'urlVideo', 'contenu', 'questions', 'indicationProf', 'numeroOrder', 'categorieSectioncode', 'courslibelle', 'url', 'content']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'section.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.code"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.libelle"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="urlImage">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.urlImage' | translate}}</span>
                                <p-sortIcon field="urlImage"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.urlImage"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="urlImage2">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.urlImage2' | translate}}</span>
                                <p-sortIcon field="urlImage2"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.urlImage2"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="urlImage3">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.urlImage3' | translate}}</span>
                                <p-sortIcon field="urlImage3"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.urlImage3"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="urlVideo">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.urlVideo' | translate}}</span>
                                <p-sortIcon field="urlVideo"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.urlVideo"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="contenu">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.contenu' | translate}}</span>
                                <p-sortIcon field="contenu"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.contenu"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="questions">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.questions' | translate}}</span>
                                <p-sortIcon field="questions"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.questions"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="indicationProf">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'section.indicationProf' | translate}}</span>
                                <p-sortIcon field="indicationProf"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.indicationProf"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="numeroOrder">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'section.numeroOrder' | translate}}</span>
                        <p-sortIcon field="numeroOrder"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="categorieSection">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'section.categorieSection' | translate}}</span>
                        <p-sortIcon field="categorieSection"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="cours">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'section.cours' | translate}}</span>
                        <p-sortIcon field="cours"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="url">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'section.url' | translate}}</span>
                        <p-sortIcon field="url"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="content">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'section.content' | translate}}</span>
                        <p-sortIcon field="content"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.code}}</td>


                        <td>{{element.libelle}}</td>


                        <td>{{element.urlImage}}</td>


                        <td>{{element.urlImage2}}</td>


                        <td>{{element.urlImage3}}</td>


                        <td>{{element.urlVideo}}</td>


                        <td>{{element.contenu}}</td>


                        <td>{{element.questions}}</td>


                        <td>{{element.indicationProf}}</td>

                        <!--
                   <td>{{element.numeroOrder}}</td>
                        -->
                        <!--
                   <td>{{element.categorieSection?.code}}</td>
                        -->
                        <!--
                   <td>{{element.cours?.libelle}}</td>
                        -->
                        <!--
                   <td>{{element.url}}</td>
                        -->
                        <!--
                   <td>{{element.content}}</td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'section' : 'sections' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-section-create-admin *ngIf="createDialog  && createActionIsValid"></app-section-create-admin>
        <app-section-edit-admin *ngIf="editDialog  && editActionIsValid"></app-section-edit-admin>
        <app-section-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-section-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
