    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'sectionItem.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'sectionItem.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'sectionItem.imageUrl' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.imageUrl' | translate}}" id="1" [(ngModel)]="item.imageUrl"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'sectionItem.response' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.response' | translate}}" id="2" [(ngModel)]="item.response"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'sectionItem.transcription' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.transcription' | translate}}" id="3" [(ngModel)]="item.transcription"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'sectionItem.translation' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.translation' | translate}}" id="4" [(ngModel)]="item.translation"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'sectionItem.explanation' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.explanation' | translate}}" id="5" [(ngModel)]="item.explanation"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'sectionItem.example' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.example' | translate}}" id="6" [(ngModel)]="item.example"
                                                    />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'sectionItem.synonyms' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'sectionItem.synonyms' | translate}}" id="7" [(ngModel)]="item.synonyms"
                                                    />
                                            
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="8">{{'sectionItem.section' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="sections" [(ngModel)]="item.section" id="8" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="code" placeholder="{{'sectionItem.section' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
