<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'reponse.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'reponse.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'reponse.ref' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.ref" [ngClass]="{'ng-invalid ng-dirty' : !validReponseRef}" class="mb-2 mr-2" id="1"
                               pInputText placeholder="{{'reponse.ref' | translate}}"
                               type="text"/>
                        <small *ngIf='!validReponseRef' class='p-error'>Ref est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'reponse.lib' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.lib" [ngClass]="{'ng-invalid ng-dirty' : !validReponseLib}" class="mb-2 mr-2" id="2"
                               pInputText placeholder="{{'reponse.lib' | translate}}"
                               type="text"/>
                        <small *ngIf='!validReponseLib' class='p-error'>Lib est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="3">{{'reponse.etatReponse' | translate}}</label>
                        <input [(ngModel)]="item.etatReponse" class="mb-2 mr-2" id="3"
                               pInputText placeholder="{{'reponse.etatReponse' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="4">{{'reponse.numero' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.numero" class="mb-2 mr-2" id="4"
                                       placeholder="{{'reponse.numero' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="5">{{'reponse.question' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.question" [filter]="true" [options]="questions" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="5" optionLabel="libelle"
                                    placeholder="{{'reponse.question' | translate}}">
                        </p-dropdown>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
