
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'reclamationEtudiant.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'reclamationEtudiant.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'reclamationEtudiant.reference' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationEtudiant.reference' | translate}}" autofocus  id="1" [ngModel]="item.reference">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'reclamationEtudiant.dateReclamation' | translate}}</label>
                        <p-calendar id="2" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reclamationEtudiant.dateReclamation' | translate}}"  [ngModel]="item.dateReclamation" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'reclamationEtudiant.message' | translate}}</label>
                        <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'reclamationEtudiant.message' | translate}}"  [ngModel]="item.message"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'reclamationEtudiant.setFrom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationEtudiant.setFrom' | translate}}" autofocus  id="4" [ngModel]="item.setFrom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'reclamationEtudiant.img' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationEtudiant.img' | translate}}" autofocus  id="5" [ngModel]="item.img">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="6">{{'reclamationEtudiant.traite' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="6"  [disabled]="true" [ngModel]="item.traite"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'reclamationEtudiant.dateTraitement' | translate}}</label>
                        <p-calendar id="7" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reclamationEtudiant.dateTraitement' | translate}}"  [ngModel]="item.dateTraitement" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'reclamationEtudiant.dateReponse' | translate}}</label>
                        <p-calendar id="8" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'reclamationEtudiant.dateReponse' | translate}}"  [ngModel]="item.dateReponse" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="9">{{'reclamationEtudiant.postView' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="9"  [disabled]="true" [ngModel]="item.postView"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'reclamationEtudiant.objetReclamationEtudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationEtudiant.objetReclamationEtudiant' | translate}}" autofocus  id="10" [ngModel]="item.objetReclamationEtudiant">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'reclamationEtudiant.commentaireTraiteur' | translate}}</label>
                        <textarea id="11" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'reclamationEtudiant.commentaireTraiteur' | translate}}"  [ngModel]="item.commentaireTraiteur"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'reclamationEtudiant.username' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationEtudiant.username' | translate}}" autofocus  id="12" [ngModel]="item.username">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'reclamationEtudiant.typeReclamationEtudiant' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'reclamationEtudiant.typeReclamationEtudiant' | translate}}" autofocus  id="13" [ngModel]="item.typeReclamationEtudiant?.libelle">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



