<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'groupeType.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'groupeType.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'groupeType.code' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.code" [ngClass]="{'ng-invalid ng-dirty' : !validGroupeTypeCode}" class="mb-2 mr-2" id="1"
                               pInputText placeholder="{{'groupeType.code' | translate}}"
                               type="text"/>
                        <small *ngIf='!validGroupeTypeCode' class='p-error'>Code est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'groupeType.libelle' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validGroupeTypeLibelle}" class="mb-2 mr-2"
                               id="2" pInputText placeholder="{{'groupeType.libelle' | translate}}"
                               type="text"/>
                        <small *ngIf='!validGroupeTypeLibelle' class='p-error'>Libelle est obligatoire.</small>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
