<mat-dialog-content class="mat-typography overflow-x-hidden" *transloco="let translate">
    <div class="w-full  items-center justify-center flex flex-col gap-4">

        <div class="w-full flex max-w-4xl  md:w-[70vw]  flex-col gap-4 items-center
                    justify-start content-center p-1 md:p-4 bg-gray-100 dark:bg-gray-600 rounded-md">
            <div class="grid">

                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>subject</mat-label>
                    <input required type="text" matInput autocomplete="off" placeholder="Subject"
                           [(ngModel)]="item.subject" name="subject">
                </mat-form-field>


                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>startTime</mat-label>
                    <input required type="date" matInput placeholder="StartTime" [(ngModel)]="item.startTime"
                           name="startTime">
                </mat-form-field>


                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>endTime</mat-label>
                    <input required type="date" matInput placeholder="EndTime" [(ngModel)]="item.endTime"
                           name="endTime">
                </mat-form-field>


                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>ref</mat-label>
                    <input required type="text" matInput autocomplete="off" placeholder="Ref" [(ngModel)]="item.ref"
                           name="ref">
                </mat-form-field>


                <mat-form-field class="w-full">
                    <mat-label>GroupeEtudiant</mat-label>
                    <input type="text" matInput (input)="filterGroupeEtudiant(groupeEtudiantInput.value)"
                           #groupeEtudiantInput [matAutocomplete]="groupeEtudiantAutocomplete"
                           [(ngModel)]="item.groupeEtudiant" name="groupeEtudiant">

                    <mat-autocomplete #groupeEtudiantAutocomplete="matAutocomplete"
                                      [displayWith]="displayGroupeEtudiant">
                        <mat-option *ngFor="let groupeEtudiant of _groupeEtudiantsFilter" [value]="groupeEtudiant">
                            {{ groupeEtudiant.id }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Prof</mat-label>
                    <input type="text" matInput (input)="filterProf(profInput.value)" #profInput
                           [matAutocomplete]="profAutocomplete" [(ngModel)]="item.prof" name="prof">

                    <mat-autocomplete #profAutocomplete="matAutocomplete" [displayWith]="displayProf">
                        <mat-option *ngFor="let prof of _profsFilter" [value]="prof">
                            {{ prof.ref }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Cours</mat-label>
                    <input type="text" matInput (input)="filterCours(coursInput.value)" #coursInput
                           [matAutocomplete]="coursAutocomplete" [(ngModel)]="item.cours" name="cours">

                    <mat-autocomplete #coursAutocomplete="matAutocomplete" [displayWith]="displayCours">
                        <mat-option *ngFor="let cours of _courssFilter" [value]="cours">
                            {{ cours.libelle }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>grpName</mat-label>
                    <input required type="text" matInput autocomplete="off" placeholder="GrpName"
                           [(ngModel)]="item.grpName" name="grpName">
                </mat-form-field>


                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>profName</mat-label>
                    <input required type="text" matInput autocomplete="off" placeholder="ProfName"
                           [(ngModel)]="item.profName" name="profName">
                </mat-form-field>


                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                    <mat-label>ProfsId</mat-label>
                    <input required type="number" matInput placeholder="ProfsId" [(ngModel)]="item.profsId"
                           name="profsId">
                </mat-form-field>


                <div>
                    <mat-checkbox class="w-full" [(ngModel)]="item.courseFinished" name="courseFinished">
                        {{ item.courseFinished ? 'Checked' : 'Unchecked' }}
                    </mat-checkbox>
                </div>


            </div>


            <div class="w-full flex flex-row-reverse gap-2">

                <button mat-button color="primary" (click)="save()">
                    {{ translate('validate') }}
                </button>


                <button mat-button color="accent" class="p-button-outlined" (click)="hideCreateDialog()">
                    {{ translate('cancel') }}
                </button>


            </div>

        </div>

    </div>

</mat-dialog-content>
