<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Admin')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'admin.description' | translate}}</label>
                            <input [(ngModel)]="criteria.descriptionLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="2">{{'admin.credentialsNonExpired' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.credentialsNonExpired" [filter]="false"
                                        [options]="yesOrNoCredentialsNonExpired" [showClear]="true"
                                        class="p-fluid" id="2"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'admin.credentialsNonExpired' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3">{{'admin.enabled' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.enabled" [filter]="false" [options]="yesOrNoEnabled" [showClear]="true"
                                        class="p-fluid" id="3"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'admin.enabled' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="4">{{'admin.accountNonExpired' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.accountNonExpired" [filter]="false"
                                        [options]="yesOrNoAccountNonExpired" [showClear]="true"
                                        class="p-fluid" id="4"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'admin.accountNonExpired' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="5">{{'admin.accountNonLocked' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.accountNonLocked" [filter]="false"
                                        [options]="yesOrNoAccountNonLocked" [showClear]="true"
                                        class="p-fluid" id="5"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'admin.accountNonLocked' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="6">{{'admin.passwordChanged' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.passwordChanged" [filter]="false" [options]="yesOrNoPasswordChanged"
                                        [showClear]="true"
                                        class="p-fluid" id="6"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'admin.passwordChanged' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="7">{{'admin.username' | translate}}</label>
                            <input [(ngModel)]="criteria.usernameLike" class="w-full" id="7" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="8">{{'admin.password' | translate}}</label>
                            <input [(ngModel)]="criteria.passwordLike" class="w-full" id="8" pInputText type="text">
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['description', 'credentialsNonExpired', 'enabled', 'accountNonExpired', 'accountNonLocked', 'passwordChanged', 'username', 'password']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'admin.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="description">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.description' | translate}}</span>
                                <p-sortIcon field="description"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.description"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="credentialsNonExpired">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.credentialsNonExpired' | translate}}</span>
                                <p-sortIcon field="credentialsNonExpired"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="enabled">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.enabled' | translate}}</span>
                                <p-sortIcon field="enabled"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="accountNonExpired">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.accountNonExpired' | translate}}</span>
                                <p-sortIcon field="accountNonExpired"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="accountNonLocked">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.accountNonLocked' | translate}}</span>
                                <p-sortIcon field="accountNonLocked"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="passwordChanged">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.passwordChanged' | translate}}</span>
                                <p-sortIcon field="passwordChanged"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="username">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.username' | translate}}</span>
                                <p-sortIcon field="username"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.username"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="password">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'admin.password' | translate}}</span>
                                <p-sortIcon field="password"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.password"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.description}}</td>


                        <td><i *ngIf="element.credentialsNonExpired" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.credentialsNonExpired" class="pi pi-times unchecked-toogle"></i>
                        </td>


                        <td><i *ngIf="element.enabled" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.enabled" class="pi pi-times unchecked-toogle"></i>
                        </td>


                        <td><i *ngIf="element.accountNonExpired" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.accountNonExpired" class="pi pi-times unchecked-toogle"></i>
                        </td>


                        <td><i *ngIf="element.accountNonLocked" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.accountNonLocked" class="pi pi-times unchecked-toogle"></i>
                        </td>


                        <td><i *ngIf="element.passwordChanged" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.passwordChanged" class="pi pi-times unchecked-toogle"></i>
                        </td>


                        <td>{{element.username}}</td>


                        <td>{{element.password}}</td>

                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'admin' : 'admins' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-admin-create-admin *ngIf="createDialog  && createActionIsValid"></app-admin-create-admin>
        <app-admin-edit-admin *ngIf="editDialog  && editActionIsValid"></app-admin-edit-admin>
        <app-admin-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-admin-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
