<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Question')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'question.ref' | translate}}</label>
                            <input [(ngModel)]="criteria.refLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2">{{'question.libelle' | translate}}</label>
                            <input [(ngModel)]="criteria.libelleLike" class="w-full" id="2" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3">{{'question.urlImg' | translate}}</label>
                            <input [(ngModel)]="criteria.urlImgLike" class="w-full" id="3" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'question.urlVideo' | translate}}</label>
                            <input [(ngModel)]="criteria.urlVideoLike" class="w-full" id="4" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="5-1">{{'question.numeroMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroMin" id="5-1" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="5-2">{{'question.numeroMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.numeroMax" id="5-2" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="6-1">{{'question.pointReponseJusteMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.pointReponseJusteMin" id="6-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="6-2">{{'question.pointReponseJusteMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.pointReponseJusteMax" id="6-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="7-1">{{'question.pointReponsefausseMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.pointReponsefausseMin" id="7-1"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="7-2">{{'question.pointReponsefausseMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.pointReponsefausseMax" id="7-2"
                                           mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="8-2">{{'question.typeDeQuestion' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.typeDeQuestion" [filter]="true" [options]="typeDeQuestions"
                                        [showClear]="true" class="p-fluid"
                                        id="8" optionLabel="lib"
                                        placeholder="{{'question.typeDeQuestion' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="10-2">{{'question.quiz' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.quiz" [filter]="true" [options]="quizs" [showClear]="true"
                                        class="p-fluid"
                                        id="10" optionLabel="lib"
                                        placeholder="{{'question.quiz' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="11-2">{{'question.homeWork' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.homeWork" [filter]="true" [options]="homeWorks" [showClear]="true"
                                        class="p-fluid"
                                        id="11" optionLabel="libelle"
                                        placeholder="{{'question.homeWork' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['ref', 'libelle', 'urlImg', 'urlVideo', 'numero', 'pointReponseJuste', 'pointReponsefausse', 'typeDeQuestionlib', 'quizlib', 'homeWorklibelle']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'question.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="ref">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.ref' | translate}}</span>
                                <p-sortIcon field="ref"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.ref"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="libelle">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.libelle' | translate}}</span>
                                <p-sortIcon field="libelle"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.libelle"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="urlImg">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.urlImg' | translate}}</span>
                                <p-sortIcon field="urlImg"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.urlImg"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="urlVideo">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.urlVideo' | translate}}</span>
                                <p-sortIcon field="urlVideo"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.urlVideo"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="numero">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.numero' | translate}}</span>
                                <p-sortIcon field="numero"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="pointReponseJuste">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.pointReponseJuste' | translate}}</span>
                                <p-sortIcon field="pointReponseJuste"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="pointReponsefausse">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.pointReponsefausse' | translate}}</span>
                                <p-sortIcon field="pointReponsefausse"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="typeDeQuestion">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.typeDeQuestion' | translate}}</span>
                                <p-sortIcon field="typeDeQuestion"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="quiz">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'question.quiz' | translate}}</span>
                                <p-sortIcon field="quiz"></p-sortIcon>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="homeWork">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'question.homeWork' | translate}}</span>
                        <p-sortIcon field="homeWork"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.ref}}</td>


                        <td>{{element.libelle}}</td>


                        <td>{{element.urlImg}}</td>


                        <td>{{element.urlVideo}}</td>


                        <td>{{element.numero}}</td>


                        <td>{{element.pointReponseJuste}}</td>


                        <td>{{element.pointReponsefausse}}</td>


                        <td>{{element.typeDeQuestion?.lib}}</td>


                        <td>{{element.quiz?.lib}}</td>

                        <!--
                   <td>{{element.homeWork?.libelle}}</td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'question' : 'questions' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-question-create-admin *ngIf="createDialog  && createActionIsValid"></app-question-create-admin>
        <app-question-edit-admin *ngIf="editDialog  && editActionIsValid"></app-question-edit-admin>
        <app-question-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-question-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
