<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true"
          [modal]="true" [resizable]="false" [style]="{width: '70vw'}" header="{{'classAverageBonusProf.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'classAverageBonusProf.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-11 md:col-6">
                        <label for="1">{{'classAverageBonusProf.prof' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.prof" [filter]="true" [options]="profs" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains"
                                    id="1" optionLabel="ref"
                                    placeholder="{{'classAverageBonusProf.prof' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'classAverageBonusProf.mois' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.mois" class="mb-2 mr-2"
                                       id="2"
                                       placeholder="{{'classAverageBonusProf.mois' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'classAverageBonusProf.annee' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.annee" class="mb-2 mr-2"
                                       id="3"
                                       placeholder="{{'classAverageBonusProf.annee' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="4">{{'classAverageBonusProf.salary' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.salary" [filter]="true" [options]="salarys" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains"
                                    id="4" optionLabel="code"
                                    placeholder="{{'classAverageBonusProf.salary' | translate}}">
                        </p-dropdown>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
