<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}" header="{{'faqProf.tabPan' | translate}}"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'faqProf.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'faqProf.description' | translate}}</label>
                        <textarea [disabled]="true" [ngModel]="item.description" cols="30" id="1" pInputTextarea
                                  placeholder="{{'faqProf.description' | translate}}"
                                  rows="5"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'faqProf.libelle' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.libelle" autofocus class="mb-2 mr-2"
                               id="2" pInputText placeholder="{{'faqProf.libelle' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'faqProf.prof' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.prof?.ref" autofocus class="mb-2 mr-2"
                               id="3" pInputText placeholder="{{'faqProf.prof' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'faqProf.admin' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.admin?.id" autofocus class="mb-2 mr-2"
                               id="4" pInputText placeholder="{{'faqProf.admin' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'faqProf.faqType' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.faqType?.libelle" autofocus class="mb-2 mr-2"
                               id="5" pInputText placeholder="{{'faqProf.faqType' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



