<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}"
          header="{{'classAverageBonusProf.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'classAverageBonusProf.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'classAverageBonusProf.prof' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.prof?.ref" autofocus class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'classAverageBonusProf.prof' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'classAverageBonusProf.mois' | translate}}</label>
                        <p-inputNumber [disabled]="true" [ngModel]="item.mois" class="mb-2 mr-2"
                                       id="2"
                                       placeholder="{{'classAverageBonusProf.mois' | translate}}"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'classAverageBonusProf.annee' | translate}}</label>
                        <p-inputNumber [disabled]="true" [ngModel]="item.annee" class="mb-2 mr-2"
                                       id="3"
                                       placeholder="{{'classAverageBonusProf.annee' | translate}}"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'classAverageBonusProf.salary' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.salary?.code" autofocus class="mb-2 mr-2"
                               id="4" pInputText placeholder="{{'classAverageBonusProf.salary' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



