        <mat-dialog-content class="mat-typography overflow-x-hidden" *transloco="let translate">
            <div class="w-full  items-center justify-center flex flex-col gap-4">

                <div class="w-full flex max-w-4xl  md:w-[70vw]  flex-col gap-4 items-center
                    justify-start content-center p-1 md:p-4 bg-gray-100 dark:bg-gray-600 rounded-md">
                                <div class="grid">

                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>libelle</mat-label>
                                                    <input required type="text" matInput autocomplete="off" placeholder="Libelle"  [(ngModel)]="item.libelle"  name="libelle">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>dateDebut</mat-label>
                                                    <input required type="date" matInput placeholder="DateDebut" [(ngModel)]="item.dateDebut" name="dateDebut">
                                                </mat-form-field>



                                                <mat-form-field class="flex-auto w-full fuse-mat-dense">
                                                    <mat-label>dateFin</mat-label>
                                                    <input required type="date" matInput placeholder="DateFin" [(ngModel)]="item.dateFin" name="dateFin">
                                                </mat-form-field>



                                        <mat-form-field class="w-full">
                                            <mat-label>Section</mat-label>
                                            <input type="text" matInput (input)="filterSection(sectionInput.value)" #sectionInput [matAutocomplete]="sectionAutocomplete"  [(ngModel)]="item.section"  name="section">

                                            <mat-autocomplete #sectionAutocomplete="matAutocomplete" [displayWith]="displaySection" >
                                              <mat-option *ngFor="let section of _sectionsFilter" [value]="section">
                                                {{section.libelle}}
                                              </mat-option>
                                            </mat-autocomplete>
                                            </mat-form-field>

                                </div>
                                    <p-tabPanel header="{{'vocabularyQuiz.vocabularys' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="1">Ref</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Ref"
                                                                               id="1" [(ngModel)]="vocabularysElement.ref" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="2">Numero</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="numero" placeholder="Numero"  [(ngModel)]="vocabularysElement.numero"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="3">Word</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Word"
                                                                               id="3" [(ngModel)]="vocabularysElement.word" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="4">Libelle</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                               id="4" [(ngModel)]="vocabularysElement.libelle" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="5">Result</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Result"
                                                                               id="5" [(ngModel)]="vocabularysElement.result" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="6">Explication</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Explication"
                                                                               id="6" [(ngModel)]="vocabularysElement.explication" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="7">Exemple</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Exemple"
                                                                               id="7" [(ngModel)]="vocabularysElement.exemple" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="8">Image</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Image"
                                                                               id="8" [(ngModel)]="vocabularysElement.image" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Section</label>
                                                                        <p-dropdown  appendTo="body"  [options]="sections" [(ngModel)]="vocabularysElement.section"
                                                                                     id="9"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Section"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>

                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addVocabularys()"></button>
                                                        </div>

                                                    </div>
                                                    <div class="card">
                                                        <p-table [value]="item.vocabularys" [scrollable]="true" scrollHeight="200px">
                                                                <tr>
                                                                                <th>Ref</th>
                                                                                <th>Numero</th>
                                                                                <th>Word</th>
                                                                                <th>Libelle</th>
                                                                                <th>Result</th>
                                                                                <th>Explication</th>
                                                                                <th>Exemple</th>
                                                                                <th>Image</th>
                                                                                <th>Section</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.ref}}</td>
                                                                                <td>{{p.numero}}</td>
                                                                                <td>{{p.word}}</td>
                                                                                <td>{{p.libelle}}</td>
                                                                                <td>{{p.result}}</td>
                                                                                <td>{{p.explication}}</td>
                                                                                <td>{{p.exemple}}</td>
                                                                                <td>{{p.image}}</td>
                                                                            <td>{{p.section?.libelle}}</td>
                                                                    <td>
                                                                        <button (click)="deleteVocabularys(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editVocabularys(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                        </p-table>
                                                    </div>






                <div class="w-full flex flex-row-reverse gap-2">

                            <button mat-button color="primary"  (click)="save()">
                                 {{translate('validate')}}
                            </button>


                            <button mat-button   color="accent" class="p-button-outlined" (click)="hideCreateDialog()">
                                {{translate('cancel')}}
                            </button>


                </div>

    </div>

        </div>

    </mat-dialog-content>
