<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'cours.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'cours.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'cours.code' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.code" [ngClass]="{'ng-invalid ng-dirty' : !validCoursCode}" class="mb-2 mr-2" id="1"
                               pInputText placeholder="{{'cours.code' | translate}}"
                               type="text"/>
                        <small *ngIf='!validCoursCode' class='p-error'>Code est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'cours.libelle' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validCoursLibelle}" class="mb-2 mr-2" id="2"
                               pInputText placeholder="{{'cours.libelle' | translate}}"
                               type="text"/>
                        <small *ngIf='!validCoursLibelle' class='p-error'>Libelle est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="3">{{'cours.description' | translate}}</label>
                        <textarea [(ngModel)]="item.description" cols="30" id="3" pInputTextarea
                                  placeholder="{{'cours.description' | translate}}" rows="5"
                        ></textarea>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="4">{{'cours.image' | translate}}</label>
                        <input [(ngModel)]="item.image" class="mb-2 mr-2" id="4" pInputText
                               placeholder="{{'cours.image' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-11 md:col-6">
                        <label for="5">{{'cours.etatCours' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.etatCours" [filter]="true" [options]="etatCourss" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="5" optionLabel="libelle"
                                    placeholder="{{'cours.etatCours' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="6">{{'cours.parcours' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.parcours" [filter]="true" [options]="parcourss" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="6" optionLabel="libelle"
                                    placeholder="{{'cours.parcours' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="7">{{'cours.nombreSectionFinalise' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nombreSectionFinalise" class="mb-2 mr-2"
                                       id="7"
                                       placeholder="{{'cours.nombreSectionFinalise' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="8">{{'cours.nombreSectionEnCours' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nombreSectionEnCours" class="mb-2 mr-2"
                                       id="8"
                                       placeholder="{{'cours.nombreSectionEnCours' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="9">{{'cours.nombreLinkEnCours' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nombreLinkEnCours" class="mb-2 mr-2" id="9"
                                       placeholder="{{'cours.nombreLinkEnCours' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="10">{{'cours.nombreLinkFinalise' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nombreLinkFinalise" class="mb-2 mr-2"
                                       id="10"
                                       placeholder="{{'cours.nombreLinkFinalise' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="11">{{'cours.numeroOrder' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.numeroOrder" class="mb-2 mr-2" id="11"
                                       placeholder="{{'cours.numeroOrder' | translate}}">
                        </p-inputNumber>

                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'cours.sections' | translate}}">
                <p-tabView [(activeIndex)]="activeTab">
                    <p-tabPanel header="Création">
                        <div class="grid">
                            <div class="field col-12 md:col-6">
                                <label for="1">Code<span style="color: red;">*</span></label>
                                <input [(ngModel)]="sectionsElement.code" [ngClass]="{'ng-invalid ng-dirty' : !validSectionsCode}" autofocus class="mb-2 mr-2"
                                       id="1" pInputText placeholder="Code"
                                       type="text">
                                <small *ngIf='!validSectionsCode' class='p-error'>Code est obligatoire.</small>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="2">Libelle</label>
                                <input [(ngModel)]="sectionsElement.libelle" autofocus class="mb-2 mr-2" id="2"
                                       pInputText placeholder="Libelle" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="3">Url image</label>
                                <input [(ngModel)]="sectionsElement.urlImage" autofocus class="mb-2 mr-2" id="3"
                                       pInputText placeholder="Url image" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="4">Url image2</label>
                                <input [(ngModel)]="sectionsElement.urlImage2" autofocus class="mb-2 mr-2" id="4"
                                       pInputText placeholder="Url image2" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="5">Url image3</label>
                                <input [(ngModel)]="sectionsElement.urlImage3" autofocus class="mb-2 mr-2" id="5"
                                       pInputText placeholder="Url image3" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="6">Url video</label>
                                <input [(ngModel)]="sectionsElement.urlVideo" autofocus class="mb-2 mr-2" id="6"
                                       pInputText placeholder="Url video" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="7">Contenu</label>
                                <input [(ngModel)]="sectionsElement.contenu" autofocus class="mb-2 mr-2" id="7"
                                       pInputText placeholder="Contenu" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="8">Questions</label>
                                <input [(ngModel)]="sectionsElement.questions" autofocus class="mb-2 mr-2" id="8"
                                       pInputText placeholder="Questions" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="9">Indication prof</label>
                                <input [(ngModel)]="sectionsElement.indicationProf" autofocus class="mb-2 mr-2" id="9"
                                       pInputText placeholder="Indication prof" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="10">Numero order</label>
                                <p-inputNumber [(ngModel)]="sectionsElement.numeroOrder" class="mb-2 mr-2" id="numeroOrder"
                                               placeholder="Numero order"></p-inputNumber>

                            </div>
                            <div class="field col-11 md:col-6">
                                <label>Categorie section</label>
                                <p-dropdown [(ngModel)]="sectionsElement.categorieSection" [filter]="true"
                                            [options]="categorieSections"
                                            [showClear]="true" appendTo="body" filterMatchMode="contains" id="11"
                                            optionLabel="code"
                                            placeholder="Categorie section">
                                </p-dropdown>

                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="13">Url</label>
                                <p-inputNumber [(ngModel)]="sectionsElement.url" class="mb-2 mr-2" id="url"
                                               placeholder="Url"></p-inputNumber>

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="14">Content</label>
                                <p-inputNumber [(ngModel)]="sectionsElement.content" class="mb-2 mr-2" id="content"
                                               placeholder="Content"></p-inputNumber>

                            </div>
                            <div class="field col-12 md:col-1">
                                <button (click)="addSections()" class="mt-4" icon="pi pi-plus" label="OK" pButton pRipple
                                        type="button"></button>
                            </div>

                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Liste {{item.sections?.length > 0 ? '(' + item.sections?.length + ')' : ''}}">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.sections" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Code</th>
                                        <th>Libelle</th>
                                        <th>Url image</th>
                                        <th>Url image2</th>
                                        <th>Url image3</th>
                                        <th>Url video</th>
                                        <th>Contenu</th>
                                        <th>Questions</th>
                                        <th>Indication prof</th>
                                        <th>Numero order</th>
                                        <th>Categorie section</th>
                                        <th>Url</th>
                                        <th>Content</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.code}}</td>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.urlImage}}</td>
                                        <td>{{p.urlImage2}}</td>
                                        <td>{{p.urlImage3}}</td>
                                        <td>{{p.urlVideo}}</td>
                                        <td>{{p.contenu}}</td>
                                        <td>{{p.questions}}</td>
                                        <td>{{p.indicationProf}}</td>
                                        <td>{{p.numeroOrder}}</td>
                                        <td>{{p.categorieSection?.code}}</td>
                                        <td>{{p.url}}</td>
                                        <td>{{p.content}}</td>
                                        <td>
                                            <button (click)="deleteSections(p)" class="p-button-rounded p-button-danger" icon="pi pi-times" pButton
                                                    type="button"></button>
                                            <button (click)="editSections(p)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil" pButton
                                                    type="button"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>

            <p-tabPanel header="{{'cours.homeWorks' | translate}}">
                <p-tabView [(activeIndex)]="activeTab">
                    <p-tabPanel header="Création">
                        <div class="grid">
                            <div class="field col-12 md:col-6">
                                <label for="1">Libelle<span style="color: red;">*</span></label>
                                <input [(ngModel)]="homeWorksElement.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validHomeWorksLibelle}" autofocus class="mb-2 mr-2"
                                       id="1" pInputText placeholder="Libelle"
                                       type="text">
                                <small *ngIf='!validHomeWorksLibelle' class='p-error'>Libelle est obligatoire.</small>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="2">Url image</label>
                                <input [(ngModel)]="homeWorksElement.urlImage" autofocus class="mb-2 mr-2" id="2"
                                       pInputText placeholder="Url image" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="3">Url video</label>
                                <input [(ngModel)]="homeWorksElement.urlVideo" autofocus class="mb-2 mr-2" id="3"
                                       pInputText placeholder="Url video" type="text">

                            </div>
                            <div class="field col-11 md:col-6">
                                <label>Type home work</label>
                                <p-dropdown [(ngModel)]="homeWorksElement.typeHomeWork" [filter]="true"
                                            [options]="typeHomeWorks"
                                            [showClear]="true" appendTo="body" filterMatchMode="contains" id="7"
                                            optionLabel="lib"
                                            placeholder="Type home work">
                                </p-dropdown>

                            </div>

                            <div class="field col-12 md:col-1">
                                <button (click)="addHomeWorks()" class="mt-4" icon="pi pi-plus" label="OK" pButton pRipple
                                        type="button"></button>
                            </div>

                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Liste {{item.homeWorks?.length > 0 ? '(' + item.homeWorks?.length + ')' : ''}}">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.homeWorks" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Libelle</th>
                                        <th>Url image</th>
                                        <th>Url video</th>
                                        <th>Type home work</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.libelle}}</td>
                                        <td>{{p.urlImage}}</td>
                                        <td>{{p.urlVideo}}</td>
                                        <td>{{p.typeHomeWork?.lib}}</td>
                                        <td>
                                            <button (click)="deleteHomeWorks(p)" class="p-button-rounded p-button-danger" icon="pi pi-times"
                                                    pButton
                                                    type="button"></button>
                                            <button (click)="editHomeWorks(p)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil" pButton
                                                    type="button"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
