
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'trancheHoraireProf.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'trancheHoraireProf.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'trancheHoraireProf.prof' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'trancheHoraireProf.prof' | translate}}" autofocus  id="1" [ngModel]="item.prof?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'trancheHoraireProf.startHour' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'trancheHoraireProf.startHour' | translate}}" autofocus  id="2" [ngModel]="item.startHour">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'trancheHoraireProf.endHour' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'trancheHoraireProf.endHour' | translate}}" autofocus  id="3" [ngModel]="item.endHour">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'trancheHoraireProf.day' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'trancheHoraireProf.day' | translate}}" [ngModel]="item.day"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'trancheHoraireProf.groupIndex' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'trancheHoraireProf.groupIndex' | translate}}" [ngModel]="item.groupIndex"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



