<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('Contact')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'contact.name' | translate}}</label>
                            <input [(ngModel)]="criteria.nameLike" class="w-full" id="1" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2">{{'contact.email' | translate}}</label>
                            <input [(ngModel)]="criteria.emailLike" class="w-full" id="2" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3">{{'contact.phone' | translate}}</label>
                            <input [(ngModel)]="criteria.phoneLike" class="w-full" id="3" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'contact.setFrom' | translate}}</label>
                            <input [(ngModel)]="criteria.setFromLike" class="w-full" id="4" pInputText type="text">
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="5-1">{{'contact.dateContactMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.dateContactFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="5-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="5-2">{{'contact.dateContactMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.dateContactTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="5-2"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="6">{{'contact.replied' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.replied" [filter]="false" [options]="yesOrNoReplied" [showClear]="true"
                                        class="p-fluid" id="6"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'contact.replied' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['name', 'email', 'phone', 'setFrom', 'dateContact', 'replied']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'contact.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="name">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'contact.name' | translate}}</span>
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.name"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="email">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'contact.email' | translate}}</span>
                                <p-sortIcon field="email"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.email"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="phone">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'contact.phone' | translate}}</span>
                                <p-sortIcon field="phone"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.phone"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="setFrom">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'contact.setFrom' | translate}}</span>
                                <p-sortIcon field="setFrom"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.setFrom"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="dateContact">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'contact.dateContact' | translate}}</span>
                                <p-sortIcon field="dateContact"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="replied">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'contact.replied' | translate}}</span>
                                <p-sortIcon field="replied"></p-sortIcon>
                            </div>
                        </th>

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.name}}</td>


                        <td>{{element.email}}</td>


                        <td>{{element.phone}}</td>


                        <td>{{element.setFrom}}</td>


                        <td>{{element.dateContact | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td><i *ngIf="element.replied" class="pi pi-check checked-toogle"></i>
                            <i *ngIf="!element.replied" class="pi pi-times unchecked-toogle"></i>
                        </td>

                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'contact' : 'contacts' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-contact-create-admin *ngIf="createDialog  && createActionIsValid"></app-contact-create-admin>
        <app-contact-edit-admin *ngIf="editDialog  && editActionIsValid"></app-contact-edit-admin>
        <app-contact-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-contact-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
