
<p-toast></p-toast>
<div class="body">


    <div class="signUp">
        <h1>Hello👋!</h1>
        <p>If you don't have an account,<br>
            create it from here </p>
        <button class="signUpBtn" id="register" (click)="register()">Sign Up</button>
        <img src="assets/layout/login/undraw_login_re_4vu2.svg">
    </div>


    <form [formGroup]="loginForm">
        <h1>Sign In</h1>
        <div class="username">
            <input id="username" type="text"  formControlName="username"  required>
            <label for="username">Username</label>
        </div>
        <div class="password">
            <input id="password" type="password"  formControlName="password"  required>
            <label for="password">Password</label>
        </div>
        <a class="forget" href="/admin/changePassword" (click)="forget()">Forget Your Password?</a>
        <div class="login" style="justify-content: center;">
            <button class="submit" type="submit" (click)="submit()" style="border:1px solid#000;">Sign In</button>
        </div>
        <div class=""  style="justify-content: center; border-radius: 15%;">

            <button class="icon cursor-pointer rounded-2xl" (click)="signInWithGoogle()"
                    style="display: flex; justify-content: space-between; margin-top: 14px; border-radius: 10px; background-color: #fff; ">
                <img src="assets/layout/images/google.webp" alt="login whit google"><h5 style="margin: 10px ; justify-content: center; color: chocolate;">Sign In With Google</h5>
            </button>
        </div>
    </form>
</div>

