<p-dialog [(visible)]="createDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'price.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'price.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'price.price' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.price" class="mb-2 mr-2" id="1"
                                       placeholder="{{'price.price' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'price.oldPrice' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.oldPrice" class="mb-2 mr-2" id="2"
                                       placeholder="{{'price.oldPrice' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'price.lib' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.lib" [ngClass]="{'ng-invalid ng-dirty' : !validPriceLib}" class="mb-2 mr-2" id="3" pInputText
                               placeholder="{{'price.lib' | translate}}"
                               type="text"/>
                        <small *ngIf='!validPriceLib' class='p-error'>Lib est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="4">{{'price.nreCourse' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nreCourse" class="mb-2 mr-2" id="4"
                                       placeholder="{{'price.nreCourse' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="5">{{'price.nreHours' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nreHours" class="mb-2 mr-2" id="5"
                                       placeholder="{{'price.nreHours' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="6">{{'price.nreMonth' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.nreMonth" class="mb-2 mr-2" id="6"
                                       placeholder="{{'price.nreMonth' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="7">{{'price.forGroup' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.forGroup" id="7"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="save()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideCreateDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
