<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}"
          header="{{'packStudent.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'packStudent.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'packStudent.nombreCours' | translate}}</label>
                        <p-inputNumber [disabled]="true" [ngModel]="item.nombreCours" class="mb-2 mr-2"
                                       id="1"
                                       placeholder="{{'packStudent.nombreCours' | translate}}"></p-inputNumber>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="2">{{'packStudent.forGroupe' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.forGroupe" id="2"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'packStudent.code' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.code" autofocus class="mb-2 mr-2"
                               id="3" pInputText placeholder="{{'packStudent.code' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'packStudent.libelle' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.libelle" autofocus class="mb-2 mr-2"
                               id="4" pInputText placeholder="{{'packStudent.libelle' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'packStudent.description' | translate}}</label>
                        <textarea [disabled]="true" [ngModel]="item.description" cols="30" id="5" pInputTextarea
                                  placeholder="{{'packStudent.description' | translate}}"
                                  rows="5"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'packStudent.preRequisites' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.preRequisites" autofocus class="mb-2 mr-2"
                               id="6" pInputText placeholder="{{'packStudent.preRequisites' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'packStudent.whyTakeThisCourse' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.whyTakeThisCourse" autofocus class="mb-2 mr-2"
                               id="7" pInputText placeholder="{{'packStudent.whyTakeThisCourse' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'packStudent.expectations' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.expectations" autofocus class="mb-2 mr-2"
                               id="8" pInputText placeholder="{{'packStudent.expectations' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'packStudent.parcours' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.parcours?.libelle" autofocus class="mb-2 mr-2"
                               id="9" pInputText placeholder="{{'packStudent.parcours' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'packStudent.imgUrl' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.imgUrl" autofocus class="mb-2 mr-2"
                               id="10" pInputText placeholder="{{'packStudent.imgUrl' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="11">{{'packStudent.price' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.price?.lib" autofocus class="mb-2 mr-2"
                               id="11" pInputText placeholder="{{'packStudent.price' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="12">{{'packStudent.totalStudents' | translate}}</label>
                        <p-inputNumber [disabled]="true" [ngModel]="item.totalStudents" class="mb-2 mr-2"
                                       id="12"
                                       placeholder="{{'packStudent.totalStudents' | translate}}"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="13">{{'packStudent.rating' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.rating" autofocus class="mb-2 mr-2"
                               id="13" pInputText placeholder="{{'packStudent.rating' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="14">{{'packStudent.oldPrice' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.oldPrice" autofocus class="mb-2 mr-2"
                               id="14" pInputText placeholder="{{'packStudent.oldPrice' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



