<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true"
          [modal]="true" [resizable]="false" [style]="{width: '70vw'}" header="{{'inscription.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'inscription.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'inscription.numeroInscription' | translate}}<span style="color: red;">*</span></label>
                        <p-inputNumber [(ngModel)]="item.numeroInscription" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionNumeroInscription}"
                                       class="mb-2 mr-2"
                                       id="1"
                                       placeholder="{{'inscription.numeroInscription' | translate}}">
                        </p-inputNumber>
                        <small *ngIf='!validInscriptionNumeroInscription' class='p-error'>NumeroInscription est
                            obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="2">{{'inscription.etudiant' | translate}}<span style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.etudiant" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionEtudiant}" [options]="etudiants"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="2"
                                    optionLabel="ref"
                                    placeholder="{{'inscription.etudiant' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionEtudiant' class='p-error'>Etudiant est obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="3">{{'inscription.etatInscription' | translate}}<span
                            style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.etatInscription" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionEtatInscription}"
                                    [options]="etatInscriptions" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="3"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.etatInscription' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionEtatInscription' class='p-error'>EtatInscription est
                            obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="4">{{'inscription.parcours' | translate}}<span style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.parcours" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionParcours}" [options]="parcourss"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="4"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.parcours' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionParcours' class='p-error'>Parcours est obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="5">{{'inscription.groupeEtude' | translate}}<span
                            style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.groupeEtude" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionGroupeEtude}" [options]="groupeEtudes"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="5"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.groupeEtude' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionGroupeEtude' class='p-error'>GroupeEtude est obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="6">{{'inscription.groupeType' | translate}}<span
                            style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.groupeType" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionGroupeType}" [options]="groupeTypes"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="6"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.groupeType' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionGroupeType' class='p-error'>GroupeType est obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="7">{{'inscription.statutSocial' | translate}}<span
                            style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.statutSocial" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionStatutSocial}" [options]="statutSocials"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="7"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.statutSocial' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionStatutSocial' class='p-error'>StatutSocial est
                            obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="8">{{'inscription.interetEtudiant' | translate}}<span
                            style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.interetEtudiant" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionInteretEtudiant}"
                                    [options]="interetEtudiants" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="8"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.interetEtudiant' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionInteretEtudiant' class='p-error'>InteretEtudiant est
                            obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="9">{{'inscription.niveauEtude' | translate}}<span
                            style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.niveauEtude" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionNiveauEtude}" [options]="niveauEtudes"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="9"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.niveauEtude' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionNiveauEtude' class='p-error'>NiveauEtude est obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="10">{{'inscription.fonction' | translate}}<span style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.fonction" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionFonction}" [options]="fonctions"
                                    [showClear]="true" appendTo="body"
                                    filterMatchMode="contains" id="10"
                                    optionLabel="libelle"
                                    placeholder="{{'inscription.fonction' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionFonction' class='p-error'>Fonction est obligatoire.</small>
                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="11">{{'inscription.quiz' | translate}}<span style="color: red;">*</span></label>
                        <p-dropdown [(ngModel)]="item.quiz" [filter]="true" [ngClass]="{'ng-invalid ng-dirty' : !validInscriptionQuiz}" [options]="quizs" [showClear]="true"
                                    appendTo="body"
                                    filterMatchMode="contains" id="11"
                                    optionLabel="lib"
                                    placeholder="{{'inscription.quiz' | translate}}">
                        </p-dropdown>
                        <small *ngIf='!validInscriptionQuiz' class='p-error'>Quiz est obligatoire.</small>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="12">{{'inscription.noteQuizNiveau' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.noteQuizNiveau" class="mb-2 mr-2"
                                       id="12"
                                       placeholder="{{'inscription.noteQuizNiveau' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="13">{{'inscription.quizFinished' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.quizFinished" id="13"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="14">{{'inscription.subscriptionFinished' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="item.subscriptionFinished" id="14"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="15">{{'inscription.dateRegistration' | translate}}</label>
                        <input [(ngModel)]="item.dateRegistration" class="mb-2 mr-2" id="15"
                               pInputText placeholder="{{'inscription.dateRegistration' | translate}}"
                               type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="16">{{'inscription.datedebutinscription' | translate}}</label>
                        <p-calendar [(ngModel)]="item.datedebutinscription" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}"
                                    id="16"
                                    placeholder="{{'inscription.datedebutinscription' | translate}}">
                        </p-calendar>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="17">{{'inscription.datefininscription' | translate}}</label>
                        <p-calendar [(ngModel)]="item.datefininscription" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}"
                                    id="17"
                                    placeholder="{{'inscription.datefininscription' | translate}}">
                        </p-calendar>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="18">{{'inscription.packStudent' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.packStudent" [filter]="true" [options]="packStudents" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="18" optionLabel="libelle"
                                    placeholder="{{'inscription.packStudent' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="19">{{'inscription.skill' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.skill" [filter]="true" [options]="skills" [showClear]="true" appendTo="body"
                                    filterMatchMode="contains"
                                    id="19" optionLabel="libelle"
                                    placeholder="{{'inscription.skill' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="20">{{'inscription.skype' | translate}}</label>
                        <input [(ngModel)]="item.skype" class="mb-2 mr-2" id="20"
                               pInputText placeholder="{{'inscription.skype' | translate}}" type="text"
                        />

                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
