<div class="flex w-full flex-column gap-4 flex-wrap">
    <div class="w-full shadow-1  bg-white">
        <ul class="surface-card p-2 m-0 list-none flex overflow-x-auto select-none">
            <li class="mr-2">
                <a class="p-ripple bg-primary p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-home mr-2"></i>
                    <span class="font-medium">FAQs</span>
                    <span class="p-ink"></span>
                </a>
            </li>
            <li class="mr-2">
                <a class="p-ripple  p-element cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150 text-700">
                    <i class="pi pi-check-circle mr-2"></i>
                    <span class="font-medium">News</span>
                    <span class="p-ink"></span>
                </a>
            </li>

        </ul>
    </div>
    <div class="w-full ">
        <app-faq-list-admin></app-faq-list-admin>
    </div>
</div>


