<div class="body">
    <div class="container" id="container">
        <div class="form-container sign-up ">
            <form [formGroup]="passwordChange" >
                <h1 style="margin-bottom: 10%;">Change password</h1>

                <input type="email" placeholder="Enter email" id="email" formControlName="email"  required autofocus>
                <input type="password" placeholder="Enter new password" id="password" formControlName="password"  required autofocus>
                <input type="password" placeholder="Conform password" id="confermpassword" formControlName="confermpassword"  required autofocus>

                <button type="submit" (click)="submit()" style="margin-top: 7%;">Change password</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form  >
                <h1>Sign In</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><img src="https://imgs.search.brave.com/K2bzYTWwzs1jK-LIjzjfDSF_tBhgNnw1Xql1Q8VZL5Q/rs:fit:500:0:0/g:ce/aHR0cHM6Ly8xMDAw/bG9nb3MubmV0L3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE2LzEx/L05ldy1Hb29nbGUt/TG9nby00OTd4NTAw/LmpwZw" alt="" style="width: 30px; height: 30px;"></a>
                    <a href="#" class="icon"><img src="https://imgs.search.brave.com/b1qzWLZiN4Dm3HPkkcOxdae80mpuTE1g_1Yd1WivZrI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzMyLzIwLzAz/LzM2MF9GXzUzMjIw/MDM1NV9vZEtOOU91/M1dCNmlIV0pURklF/bEZ0SmJUdXpKc3BZ/Ni5qcGc" alt="" style="width: 30px; height: 30px;"></a>
                    <a href="#" class="icon"><img src="https://imgs.search.brave.com/qXDVSXD8Nnautca2OOwdPjjDb6_GOo4Lyy2bm-QexJc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy85/LzkxL09jdGljb25z/LW1hcmstZ2l0aHVi/LnN2Zw.svg" alt="" style="width: 30px; height: 30px;"></a>
                    <a href="#" class="icon"><img src="https://imgs.search.brave.com/AMNOWNlys6t-LdYxrRSfVYYcAHVqt8duRtLNuSfZ334/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvc2hpZnQtbG9n/b3R5cGVzLzMyL0xp/bmtlZGluLTEyOC5w/bmc" alt="" style="width: 30px; height: 30px;"></a>
                    <!-- <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a> -->
                    <!-- <a href="#" class="icon"><i class="fa-brands fa-github"></i></a> -->
                    <!-- <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a> -->
                </div>
                <span>or use your email password</span>
                <input type="text" placeholder="userName" id="userName" formControlName="username"  required
                       autofocus>
                <input type="password" placeholder="password" id="password" formControlName="password"  required
                       autofocus>
                <!-- <a href="/changePassword" (click)="forget()">Forget Your Password?</a> -->
                <button type="submit" (click)="submit()" style="border:1px solid#000;">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1 style="color: #fff;">Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="" id="login" [routerLink]="['/collaborator/login']">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1 style="color: #fff;">Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <!-- <button class="hidden" id="register" (click)="register()">Sign Up</button> -->
                </div>
            </div>
        </div>
    </div>
</div>


<p-toast></p-toast>
