<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'vocabulary.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'vocabulary.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'vocabulary.ref' | translate}}</label>
                        <input [(ngModel)]="item.ref" class="mb-2 mr-2" id="1" pInputText
                               placeholder="{{'vocabulary.ref' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'vocabulary.numero' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.numero" class="mb-2 mr-2" id="2"
                                       placeholder="{{'vocabulary.numero' | translate}}">
                        </p-inputNumber>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'vocabulary.word' | translate}}</label>
                        <input [(ngModel)]="item.word" class="mb-2 mr-2" id="3" pInputText
                               placeholder="{{'vocabulary.word' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="4">{{'vocabulary.libelle' | translate}}</label>
                        <input [(ngModel)]="item.libelle" class="mb-2 mr-2" id="4"
                               pInputText placeholder="{{'vocabulary.libelle' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="5">{{'vocabulary.result' | translate}}</label>
                        <input [(ngModel)]="item.result" class="mb-2 mr-2" id="5"
                               pInputText placeholder="{{'vocabulary.result' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="6">{{'vocabulary.explication' | translate}}</label>
                        <input [(ngModel)]="item.explication" class="mb-2 mr-2" id="6"
                               pInputText placeholder="{{'vocabulary.explication' | translate}}"
                               type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="7">{{'vocabulary.exemple' | translate}}</label>
                        <input [(ngModel)]="item.exemple" class="mb-2 mr-2" id="7"
                               pInputText placeholder="{{'vocabulary.exemple' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="8">{{'vocabulary.image' | translate}}</label>
                        <input [(ngModel)]="item.image" class="mb-2 mr-2" id="8" pInputText
                               placeholder="{{'vocabulary.image' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-11 md:col-6">
                        <label for="9">{{'vocabulary.section' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.section" [filter]="true" [options]="sections" [showClear]="true"
                                    appendTo="body" filterMatchMode="contains"
                                    id="9" optionLabel="code"
                                    placeholder="{{'vocabulary.section' | translate}}">
                        </p-dropdown>

                    </div>

                    <div class="field col-11 md:col-6">
                        <label for="10">{{'vocabulary.vocabularyQuiz' | translate}}</label>
                        <p-dropdown [(ngModel)]="item.vocabularyQuiz" [filter]="true" [options]="vocabularyQuizs"
                                    [showClear]="true" appendTo="body" filterMatchMode="contains"
                                    id="10" optionLabel="libelle"
                                    placeholder="{{'vocabulary.vocabularyQuiz' | translate}}">
                        </p-dropdown>

                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
