<div *ngIf="listActionIsValid" class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreate('ScheduleProf')" *ngIf="createActionIsValid" class="p-button-info mr-2 mb-2" icon="pi pi-plus"
                            label=" {{'new' | translate}}" pButton
                            pRipple></button>
                    <button (click)=deleteMultiple() *ngIf="deleteActionIsValid" [disabled]="isSelectionDisabled()" class="p-button-danger mr-2 mb-2"
                            icon="pi pi-trash" label=" {{'delete' | translate}}" pButton
                            pRipple></button>
                    <button (click)="this.showSearch()" class="p-button-secondary mr-2 mb-2" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label=" {{'search' | translate}}"
                            pButton pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download"
                                       label=" {{'export' | translate}}" styleClass="p-button-secondary"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1">{{'scheduleProf.subject' | translate}}</label>
                            <input [(ngModel)]="criteria.subjectLike" class="w-full" id="1" pInputText type="text">
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="2-1">{{'scheduleProf.startTimeMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.startTimeFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="2-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="2-2">{{'scheduleProf.startTimeMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.startTimeTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="2-2"></p-calendar>
                        </div>


                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="3-1">{{'scheduleProf.endTimeMin' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.endTimeFrom" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="3-1"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="3-2">{{'scheduleProf.endTimeMax' | translate}}</label>
                            <p-calendar [(ngModel)]="criteria.endTimeTo" [showIcon]="true"
                                        class="mr-2" class="p-fluid" dateFormat="dd-MM-yy" id="3-2"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="4">{{'scheduleProf.ref' | translate}}</label>
                            <input [(ngModel)]="criteria.refLike" class="w-full" id="4" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="5-2">{{'scheduleProf.groupeEtudiant' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.groupeEtudiant" [filter]="true" [options]="groupeEtudiants"
                                        [showClear]="true" class="p-fluid"
                                        id="5" optionLabel="id"
                                        placeholder="{{'scheduleProf.groupeEtudiant' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="6-2">{{'scheduleProf.prof' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.prof" [filter]="true" [options]="profs" [showClear]="true"
                                        class="p-fluid"
                                        id="6" optionLabel="ref"
                                        placeholder="{{'scheduleProf.prof' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="7-2">{{'scheduleProf.cours' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.cours" [filter]="true" [options]="courss" [showClear]="true"
                                        class="p-fluid"
                                        id="7" optionLabel="libelle"
                                        placeholder="{{'scheduleProf.cours' | translate}}">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="8">{{'scheduleProf.grpName' | translate}}</label>
                            <input [(ngModel)]="criteria.grpNameLike" class="w-full" id="8" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="9">{{'scheduleProf.profName' | translate}}</label>
                            <input [(ngModel)]="criteria.profNameLike" class="w-full" id="9" pInputText type="text">
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-1">{{'scheduleProf.profsIdMin' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.profsIdMin" id="10-1" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="10-2">{{'scheduleProf.profsIdMax' | translate}}</label>
                            <p-inputNumber [(ngModel)]="criteria.profsIdMax" id="10-2" mode="decimal"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2"
                                   for="11">{{'scheduleProf.courseFinished' | translate}}</label>
                            <p-dropdown [(ngModel)]="criteria.courseFinished" [filter]="false" [options]="yesOrNoCourseFinished"
                                        [showClear]="true"
                                        class="p-fluid" id="11"
                                        optionLabel="label" optionValue="value"
                                        placeholder="{{'scheduleProf.courseFinished' | translate}}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button (click)="findPaginatedByCriteria()" class="p-button-info mr-2" icon="pi pi-sort-amount-down" label="{{'validate' | translate}}"
                                pButton pRipple></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [(selection)]="selections" [columns]="cols" [globalFilterFields]="['subject', 'startTime', 'endTime', 'ref', 'groupeEtudiantid', 'profref', 'courslibelle', 'grpName', 'profName', 'profsId', 'courseFinished']" [paginator]="false"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="items"
                     currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                     dataKey="id" selectionMode="multiple" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'scheduleProf.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="{{'searchInput' | translate}}"
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="subject">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.subject' | translate}}</span>
                                <p-sortIcon field="subject"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.subject"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="startTime">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.startTime' | translate}}</span>
                                <p-sortIcon field="startTime"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="endTime">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.endTime' | translate}}</span>
                                <p-sortIcon field="endTime"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="ref">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.ref' | translate}}</span>
                                <p-sortIcon field="ref"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.ref"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="groupeEtudiant">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.groupeEtudiant' | translate}}</span>
                                <p-sortIcon field="groupeEtudiant"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="prof">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.prof' | translate}}</span>
                                <p-sortIcon field="prof"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="cours">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.cours' | translate}}</span>
                                <p-sortIcon field="cours"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="grpName">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.grpName' | translate}}</span>
                                <p-sortIcon field="grpName"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.grpName"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="profName">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'scheduleProf.profName' | translate}}</span>
                                <p-sortIcon field="profName"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="element.profName"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <!--
                <th pSortableColumn="profsId">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'scheduleProf.profsId' | translate}}</span>
                        <p-sortIcon field="profsId"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <!--
                <th pSortableColumn="courseFinished">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <span>{{'scheduleProf.courseFinished' | translate}}</span>
                        <p-sortIcon field="courseFinished"></p-sortIcon>
                    </div>
                </th>
                        -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-element pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.subject}}</td>


                        <td>{{element.startTime | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.endTime | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.ref}}</td>


                        <td>{{element.groupeEtudiant?.id}}</td>


                        <td>{{element.prof?.ref}}</td>


                        <td>{{element.cours?.libelle}}</td>


                        <td>{{element.grpName}}</td>


                        <td>{{element.profName}}</td>

                        <!--
                   <td>{{element.profsId}}</td>
                        -->
                        <!--
                   <td><i *ngIf="element.courseFinished" class="pi pi-check checked-toogle"></i>
                       <i *ngIf="!element.courseFinished" class="pi pi-times unchecked-toogle"></i>
                   </td>
                        -->
                        <td>
                            <button (click)="edit(element)" *ngIf="editActionIsValid" class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                    pButton pRipple></button>
                            <button (click)="view(element)" *ngIf="viewActionIsValid" class="p-button-rounded p-button-secondary mr-2" icon="pi pi-list"
                                    pButton pRipple></button>
                            <button (click)="delete(element)" *ngIf="deleteActionIsValid" class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                                    pButton pRipple></button>
                            <button (click)="duplicate(element)" *ngIf="duplicateActionIsValid" class="p-button-rounded p-button-raised p-button-warning mr-2"
                                    icon="pi pi-copy"
                                    pButton pRipple></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator (onPageChange)="onPage($event)" [rows]="10"
                                 [totalRecords]="totalRecords"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'schedule prof' : 'schedule profs' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-schedule-prof-create-admin *ngIf="createDialog  && createActionIsValid"></app-schedule-prof-create-admin>
        <app-schedule-prof-edit-admin *ngIf="editDialog  && editActionIsValid"></app-schedule-prof-edit-admin>
        <app-schedule-prof-view-admin *ngIf="viewDialog  && viewActionIsValid"></app-schedule-prof-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
<div class='col-12 app-calendar'>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>


<p-dialog [(visible)]="createDialog" [draggable]="false" [maximizable]="true" [modal]="true" [resizable]="false"
          [style]="{width: '70vw'}" header="Schedule" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Schedule">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'schedule.subject' | translate}}</label>
                        <input [(ngModel)]="item.subject" class="mb-2 mr-2" id="1" pInputText
                               placeholder="{{'schedule.subject' | translate}}" type="text"
                        />

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">{{'schedule.startTime' | translate}}</label>
                        <p-calendar [(ngModel)]="item.startTime" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}" id="2"
                                    placeholder="{{'schedule.startTime' | translate}}">
                        </p-calendar>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'schedule.endTime' | translate}}</label>
                        <p-calendar [(ngModel)]="item.endTime" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}" id="3"
                                    placeholder="{{'schedule.endTime' | translate}}">
                        </p-calendar>

                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="grid-step">
            <div style="margin-left: auto;">
                <button (click)="save()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple
                        style="margin:10px"></button>
            </div>

        </div>
    </ng-template>

</p-dialog>

<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="{{'schedule.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Schedule">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'schedule.subject' | translate}}</label>
                        <input [(ngModel)]="item.subject" class="mb-2 mr-2" id="11" pInputText
                               placeholder="{{'schedule.subject' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'schedule.startTime' | translate}}</label>
                        <p-calendar [(ngModel)]="item.startTime" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}" id="12"
                                    placeholder="{{'schedule.startTime' | translate}}">
                        </p-calendar>

                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">{{'schedule.endTime' | translate}}</label>
                        <p-calendar [(ngModel)]="item.endTime" [showSeconds]="false" [showTime]="true" appendTo="body"
                                    dateFormat="{{dateFormat}}" id="13"
                                    placeholder="{{'schedule.endTime' | translate}}">
                        </p-calendar>

                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="grid-footer">
            <div>
                <button (click)="update()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>

    <app-prof-create-admin></app-prof-create-admin>


</p-dialog>


<p-card *ngIf="!listActionIsValid" header="Permission not allowed">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
