        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'freeTrialTeacherEmailTemplate.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'freeTrialTeacherEmailTemplate.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'freeTrialTeacherEmailTemplate.object' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'freeTrialTeacherEmailTemplate.object' | translate}}" id="1" [(ngModel)]="item.object"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'freeTrialTeacherEmailTemplate.corps' | translate}}</label>
                                                    <textarea id="2" pInputTextarea rows="5" cols="30" placeholder="{{'freeTrialTeacherEmailTemplate.corps' | translate}}"  [(ngModel)]="item.corps"
                                                             ></textarea>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'freeTrialTeacherEmailTemplate.source' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'freeTrialTeacherEmailTemplate.source' | translate}}" id="3" [(ngModel)]="item.source"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
