<mat-dialog-content class="mat-typography overflow-x-hidden" *transloco="let translate">
    <div class="w-full items-center justify-center flex flex-col gap-4">
        <div
            class="w-full flex max-w-4xl md:w-[70vw] flex-col gap-4 items-center justify-start content-center p-1 md:p-4 dark:bg-gray-600 rounded-md">

            <mat-form-field class="flex-auto w-full fuse-mat-dense">
                <mat-label>Group student</mat-label>
                <mat-select [(ngModel)]="item.groupeEtudiant" [compareWith]="compareObjects" name="groupeEtudiant"
                            (ngModelChange)="handleGroupEtudiantChange()">
                    <mat-option *ngFor="let group of groupeEtudiants" [value]="group">
                        {{ group.libelle }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-auto w-full fuse-mat-dense">
                <mat-label>Teacher</mat-label>
                <mat-select [(ngModel)]="item.prof" name="prof" [compareWith]="compareObjects">
                    <mat-option *ngFor="let prof of profs" [value]="prof">
                        {{ prof.fullName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <!-- select par defaut parcours du groupe -->
            <mat-form-field class="flex-auto w-full fuse-mat-dense">
                <mat-label>Material</mat-label>
                <mat-select (ngModelChange)="getCoursByParcours($event)" [(ngModel)]="item.groupeEtudiant.parcours"
                            name="parcours" [compareWith]="compareObjects">
                    <mat-option *ngFor="let parcours of parcourss" [value]="parcours">
                        {{ parcours.libelle }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="flex-auto w-full fuse-mat-dense">
                <mat-label>Cours</mat-label>
                <mat-select [(ngModel)]="item.cours" name="courss">
                    <mat-option *ngFor="let courss of courses" [value]="courss">
                        {{ courss.libelle }}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <!-- start time input -->
            <mat-form-field class="flex-auto w-full fuse-mat-dense">
                <mat-label>Start Time</mat-label>
                <input required type="datetime-local" matInput
                       placeholder="Start Time" [(ngModel)]="item.startTime"
                       name="startTime">
            </mat-form-field>

            <!-- end time input -->
            <mat-form-field class="flex-auto w-full fuse-mat-dense">
                <mat-label>End Time</mat-label>
                <input required type="datetime-local" matInput
                       placeholder="End Time" [(ngModel)]="item.endTime"
                       name="endTime">
            </mat-form-field>

        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button (click)="refDialog.close(null)" mat-button>
        Cancel
    </button>
    <button
        class="px-6 ml-3"
        (click)="save()"
        mat-flat-button
        [color]="'primary'">
        Create
    </button>
</mat-dialog-actions>
