
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'classAverageBonusProf.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'classAverageBonusProf.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'classAverageBonusProf.prof' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'classAverageBonusProf.prof' | translate}}" autofocus  id="1" [ngModel]="item.prof?.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'classAverageBonusProf.mois' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'classAverageBonusProf.mois' | translate}}" [ngModel]="item.mois"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'classAverageBonusProf.annee' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'classAverageBonusProf.annee' | translate}}" [ngModel]="item.annee"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'classAverageBonusProf.salary' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'classAverageBonusProf.salary' | translate}}" autofocus  id="4" [ngModel]="item.salary?.code">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



