<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}" header="{{'vocabulary.tabPan' | translate}}"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'vocabulary.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'vocabulary.ref' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.ref" autofocus class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'vocabulary.ref' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'vocabulary.numero' | translate}}</label>
                        <p-inputNumber [disabled]="true" [ngModel]="item.numero" class="mb-2 mr-2"
                                       id="2"
                                       placeholder="{{'vocabulary.numero' | translate}}"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'vocabulary.word' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.word" autofocus class="mb-2 mr-2"
                               id="3" pInputText placeholder="{{'vocabulary.word' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'vocabulary.libelle' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.libelle" autofocus class="mb-2 mr-2"
                               id="4" pInputText placeholder="{{'vocabulary.libelle' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'vocabulary.result' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.result" autofocus class="mb-2 mr-2"
                               id="5" pInputText placeholder="{{'vocabulary.result' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'vocabulary.explication' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.explication" autofocus class="mb-2 mr-2"
                               id="6" pInputText placeholder="{{'vocabulary.explication' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'vocabulary.exemple' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.exemple" autofocus class="mb-2 mr-2"
                               id="7" pInputText placeholder="{{'vocabulary.exemple' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'vocabulary.image' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.image" autofocus class="mb-2 mr-2"
                               id="8" pInputText placeholder="{{'vocabulary.image' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'vocabulary.section' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.section?.code" autofocus class="mb-2 mr-2"
                               id="9" pInputText placeholder="{{'vocabulary.section' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'vocabulary.vocabularyQuiz' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.vocabularyQuiz?.libelle" autofocus class="mb-2 mr-2"
                               id="10" pInputText placeholder="{{'vocabulary.vocabularyQuiz' | translate}}"
                               type="text">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



