<p-dialog [(visible)]="viewDialog" [modal]="true" [style]="{width: '70vw'}"
          header="{{'scheduleProf.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'scheduleProf.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'scheduleProf.subject' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.subject" autofocus class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'scheduleProf.subject' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'scheduleProf.startTime' | translate}}</label>
                        <p-calendar [disabled]="true" [ngModel]="item.startTime" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="2"
                                    placeholder="{{'scheduleProf.startTime' | translate}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'scheduleProf.endTime' | translate}}</label>
                        <p-calendar [disabled]="true" [ngModel]="item.endTime" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="3"
                                    placeholder="{{'scheduleProf.endTime' | translate}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'scheduleProf.ref' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.ref" autofocus class="mb-2 mr-2"
                               id="4" pInputText placeholder="{{'scheduleProf.ref' | translate}}" type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'scheduleProf.groupeEtudiant' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.groupeEtudiant?.id" autofocus class="mb-2 mr-2"
                               id="5" pInputText placeholder="{{'scheduleProf.groupeEtudiant' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'scheduleProf.prof' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.prof?.ref" autofocus class="mb-2 mr-2"
                               id="6" pInputText placeholder="{{'scheduleProf.prof' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'scheduleProf.cours' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.cours?.libelle" autofocus class="mb-2 mr-2"
                               id="7" pInputText placeholder="{{'scheduleProf.cours' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'scheduleProf.grpName' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.grpName" autofocus class="mb-2 mr-2"
                               id="8" pInputText placeholder="{{'scheduleProf.grpName' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'scheduleProf.profName' | translate}}</label>
                        <input [disabled]="true" [ngModel]="item.profName" autofocus class="mb-2 mr-2"
                               id="9" pInputText placeholder="{{'scheduleProf.profName' | translate}}"
                               type="text">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="10">{{'scheduleProf.profsId' | translate}}</label>
                        <p-inputNumber [disabled]="true" [ngModel]="item.profsId" class="mb-2 mr-2"
                                       id="10"
                                       placeholder="{{'scheduleProf.profsId' | translate}}"></p-inputNumber>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div class="label-inputswitch">
                            <label for="11">{{'scheduleProf.courseFinished' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [disabled]="true" [ngModel]="item.courseFinished" id="11"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">
            <div>
                <button (click)="hideViewDialog()" class="p-button-outlined" icon="pi pi-times" label="Annuler" pButton
                        pRipple></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



