<p-dialog [(visible)]="editDialog" [draggable]="false" [maximizable]="true"
          [modal]="true" [resizable]="false" [style]="{width: '70vw'}" header="{{'categorieProf.tabPan' | translate}}" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'categorieProf.tabPan' | translate}}">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">{{'categorieProf.code' | translate}}<span style="color: red;">*</span></label>
                        <input [(ngModel)]="item.code" [ngClass]="{'ng-invalid ng-dirty' : !validCategorieProfCode}" class="mb-2 mr-2"
                               id="1" pInputText placeholder="{{'categorieProf.code' | translate}}"
                               type="text"/>
                        <small *ngIf='!validCategorieProfCode' class='p-error'>Code est obligatoire.</small>
                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="2">{{'categorieProf.level' | translate}}</label>
                        <input [(ngModel)]="item.level" class="mb-2 mr-2" id="2"
                               pInputText placeholder="{{'categorieProf.level' | translate}}" type="text"
                        />

                    </div>


                    <div class="field col-12 md:col-6">
                        <label for="3">{{'categorieProf.lessonRate' | translate}}</label>
                        <p-inputNumber [(ngModel)]="item.lessonRate" class="mb-2 mr-2" id="3"
                                       placeholder="{{'categorieProf.lessonRate' | translate}}">
                        </p-inputNumber>

                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="{{'categorieProf.profs' | translate}}">
                <p-tabView [(activeIndex)]="activeTab">
                    <p-tabPanel header="Création">
                        <div class="grid">
                            <div class="field col-12 md:col-6">
                                <label for="1">Ref<span style="color: red;">*</span></label>
                                <input [(ngModel)]="profsElement.ref" [ngClass]="{'ng-invalid ng-dirty' : !validProfsRef}" autofocus class="mb-2 mr-2"
                                       id="1" pInputText placeholder="Ref"
                                       type="text">
                                <small *ngIf='!validProfsRef' class='p-error'>Ref est obligatoire.</small>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="2">About</label>
                                <input [(ngModel)]="profsElement.about" autofocus class="mb-2 mr-2" id="2"
                                       pInputText placeholder="About" type="text">

                            </div>
                            <div class="field col-11 md:col-6">
                                <label>Parcours</label>
                                <p-dropdown [(ngModel)]="profsElement.parcours" [filter]="true" [options]="parcourss"
                                            [showClear]="true" appendTo="body" filterMatchMode="contains" id="3"
                                            optionLabel="libelle"
                                            placeholder="Parcours">
                                </p-dropdown>

                            </div>

                            <div class="field col-11 md:col-6">
                                <label>Type teacher</label>
                                <p-dropdown [(ngModel)]="profsElement.typeTeacher" [filter]="true"
                                            [options]="typeTeachers"
                                            [showClear]="true" appendTo="body" filterMatchMode="contains" id="8"
                                            optionLabel="libelle"
                                            placeholder="Type teacher">
                                </p-dropdown>

                            </div>

                            <div class="field  align-inputswitch col-12 md:col-6">
                                <div class="label-inputswitch">
                                    <label for="9">Credentials non expired</label>
                                </div>
                                <div class="input-switch">
                                    <p-inputSwitch [(ngModel)]="profsElement.credentialsNonExpired"
                                                   id="9"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="field  align-inputswitch col-12 md:col-6">
                                <div class="label-inputswitch">
                                    <label for="10">Enabled</label>
                                </div>
                                <div class="input-switch">
                                    <p-inputSwitch [(ngModel)]="profsElement.enabled" id="10"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="field  align-inputswitch col-12 md:col-6">
                                <div class="label-inputswitch">
                                    <label for="11">Account non expired</label>
                                </div>
                                <div class="input-switch">
                                    <p-inputSwitch [(ngModel)]="profsElement.accountNonExpired" id="11"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="field  align-inputswitch col-12 md:col-6">
                                <div class="label-inputswitch">
                                    <label for="12">Account non locked</label>
                                </div>
                                <div class="input-switch">
                                    <p-inputSwitch [(ngModel)]="profsElement.accountNonLocked" id="12"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="field  align-inputswitch col-12 md:col-6">
                                <div class="label-inputswitch">
                                    <label for="13">Password changed</label>
                                </div>
                                <div class="input-switch">
                                    <p-inputSwitch [(ngModel)]="profsElement.passwordChanged" id="13"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="14">Username</label>
                                <input [(ngModel)]="profsElement.username" autofocus class="mb-2 mr-2" id="14"
                                       pInputText placeholder="Username" type="text">

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="15">Password</label>
                                <input [(ngModel)]="profsElement.password" autofocus class="mb-2 mr-2" id="15"
                                       pInputText placeholder="Password" type="text">

                            </div>
                            <div class="field col-12 md:col-1">
                                <button (click)="addProfs()" class="mt-4" icon="pi pi-plus" label="OK" pButton pRipple
                                        type="button"></button>
                            </div>

                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Liste {{item.profs?.length > 0 ? '(' + item.profs?.length + ')' : ''}}">
                        <div class="card">
                            <p-table [scrollable]="true" [value]="item.profs" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Ref</th>
                                        <th>About</th>
                                        <th>Parcours</th>
                                        <th>Type teacher</th>
                                        <th>Credentials non expired</th>
                                        <th>Enabled</th>
                                        <th>Account non expired</th>
                                        <th>Account non locked</th>
                                        <th>Password changed</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template let-p pTemplate="body">
                                    <tr>
                                        <td>{{p.ref}}</td>
                                        <td>{{p.about}}</td>
                                        <td>{{p.parcours?.libelle}}</td>
                                        <td>{{p.typeTeacher?.libelle}}</td>
                                        <td><i *ngIf="p.credentialsNonExpired" class="pi pi-check checked-toogle"></i>
                                            <i *ngIf="!p.credentialsNonExpired"
                                               class="pi pi-times unchecked-toogle"></i>
                                        </td>
                                        <td><i *ngIf="p.enabled" class="pi pi-check checked-toogle"></i>
                                            <i *ngIf="!p.enabled" class="pi pi-times unchecked-toogle"></i>
                                        </td>
                                        <td><i *ngIf="p.accountNonExpired" class="pi pi-check checked-toogle"></i>
                                            <i *ngIf="!p.accountNonExpired" class="pi pi-times unchecked-toogle"></i>
                                        </td>
                                        <td><i *ngIf="p.accountNonLocked" class="pi pi-check checked-toogle"></i>
                                            <i *ngIf="!p.accountNonLocked" class="pi pi-times unchecked-toogle"></i>
                                        </td>
                                        <td><i *ngIf="p.passwordChanged" class="pi pi-check checked-toogle"></i>
                                            <i *ngIf="!p.passwordChanged" class="pi pi-times unchecked-toogle"></i>
                                        </td>
                                        <td>{{p.username}}</td>
                                        <td>{{p.password}}</td>
                                        <td>
                                            <button (click)="deleteProfs(p)" class="p-button-rounded p-button-danger" icon="pi pi-times" pButton
                                                    type="button"></button>
                                            <button (click)="editProfs(p)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil" pButton
                                                    type="button"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </p-tabPanel>
                </p-tabView>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-flexbox">

            <button (click)="edit()" icon="pi pi-check" label="{{'validate' | translate}}" pButton pRipple></button>


            <button (click)="hideEditDialog()" class="p-button-outlined" icon="pi pi-times" label="{{'cancel' | translate}}" pButton
                    pRipple></button>


        </div>
    </ng-template>

</p-dialog>
